@model UMC_FORM.Models.Form_Dept
@using UMC_FORM.Ultils
@{
    ViewBag.Title = "Edit Dept";
    Layout = "~/Views/Shared/_Layout_Custom2.cshtml";
}

<h2>Edit</h2>

<div id="layoutSidenav_content">
    <div class="container-fluid ">
        <div class="">
            <div class="">
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="err">@ViewBag.message</label>
                        </div>

                        <div class="form-group">
                            <label for="code">Code</label>
                            <input class="form-control" id="DEPT" name="DEPT" value="@Model.DEPT" readonly>
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input class="form-control" id="CODE_MNG" name="CODE_MNG" value="@Model.CODE_MNG">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a class="btn btn-info" href="@Url.Action("Index")" role="button">Back</a>
                    }
                </div>
            </div>

        </div>
    </div>
</div>
 