@model  UMC_FORM.Models.Form_User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.U_Id)
            @Html.HiddenFor(model => model.create_At)
            @Html.HiddenFor(model => model.email)
            @Html.HiddenFor(model => model.fullname)
            @Html.HiddenFor(model => model.permission_Id)
            @Html.HiddenFor(model => model.phone)
            @Html.HiddenFor(model => model.username)*@
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Change Password</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
                    <form method="post" id="passwordForm">
                        <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">

                        <br />
                        @Html.PasswordFor(model => model.PASSWORD, new { @class = "input-lg form-control", @type = "password", @name = "password2", @id = "password2", @placeholder = "Repeat Password", @autocomplete = "off" })
                        <div class="row">
                            <div class="col-sm-12">
                                <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
                            </div>
                        </div>
                        <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">
                    </form>
                </div><!--/col-sm-6-->
            </div><!--/row-->
        </div>
    }
    <script type="text/javascript">
        $("input[type=password]").keyup(function () {
            if ($("#password1").val() == $("#password2").val()) {
                $("#pwmatch").removeClass("glyphicon-remove");
                $("#pwmatch").addClass("glyphicon-ok");
                $("#pwmatch").css("color", "#00A41E");
            } else {
                $("#pwmatch").removeClass("glyphicon-ok");
                $("#pwmatch").addClass("glyphicon-remove");
                $("#pwmatch").css("color", "#FF0004");
            }
        });
    </script>
</body>
</html>
