@using UMC_FORM.Ultils
@model UMC_FORM.Models.Form_User
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login</title>

    <link href="@Url.ContentVersioned("~/Content/css/styles", "css")" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
</head>

<body class="bg-primary-light">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header text-center">
                                    <div class="d-none d-md-inline-block mr-auto">
                                        <img src="~/Content/assets/img/logo.png" />
                                        <span class="font-weight-light ml-4 font-weight-bold" key="title">LOGIN</span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    @using (Html.BeginForm("Index", "Account", new { ReturnUrl = @ViewBag.ReturnUrl }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @*<form>*@
                                        <div class="form-group">
                                            <span class="error">@ViewBag.message</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputEmailAddress">Username</label>
                                            @Html.EditorFor(model => model.CODE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter user name", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.CODE, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputPassword">Password</label>
                                            @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter password", @type = "password", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                @if (Model != null)
                                                {
                                                    <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" name="rememberPasswordCheck" value="on" checked />
                                                }
                                                else
                                                {
                                                    <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" name="rememberPasswordCheck" />
                                                }

                                                <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="@Url.Action("ForgotPassword")">Forgot Password?</a>
                                            <input type="submit" value="Login" class="btn btn-primary" />
                                        </div>
                                        @*</form>*@
                                    }
                                </div>
                                <div class="card-footer text-center">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; UMCVN 2021</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
