@model IEnumerable<UMC_FORM.Models.Form_Summary>
@using UMC_FORM.Business
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_Custom1.cshtml";
    int _no = 1;
}

<div id="layoutSidenav_content">
    <div class="container-fluid ">
        <div class="">
            <div class="">
                <div class="card-body">
                    <a href="./index.html" style="text-decoration: none;">
                        <span class="font-title text-muted lang" key="list-request">Danh sách đề xuất</span>
                    </a>

                    <ul class="nav mt-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="all-tab" data-toggle="tab" aria-controls="inbox"
                               href="#inbox" role="tab" aria-selected="true">
                                <span class="d-block d-md-none"><i class="ti-email"></i></span>
                                <span class="d-none d-md-block lang" key="all">Tất cả</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="comming-tab" data-toggle="tab" aria-controls="sent"
                               href="#sent" role="tab" aria-selected="false">
                                <span class="d-block d-md-none"><i class="ti-export"></i></span>
                                <span class="d-none d-md-block lang" key="in-turn">Đến lượt</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="dealine-tab" data-toggle="tab" aria-controls="spam"
                               href="#spam" role="tab" aria-selected="false">
                                <span class="d-block d-md-none"><i class="ti-panel"></i></span>
                                <span class="d-none d-md-block lang" key="overdue">Quá hạn</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show " id="inbox" aria-labelledby="inbox-tab"
                         role="tabpanel">
                        <!-- Request list-->
                        <div class="table-responsive">
                            <table class="table email-table no-wrap table-hover v-middle mb-0 font-14">
                                <tbody class="table-request">
                                    @foreach (var item in Model)
                                    {
                                        var id = "cst" + _no;
                                        <tr class="row-request">
                                            <td class="pl-3">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id=@id />
                                                    <label class="custom-control-label" for=@id>&nbsp;</label>
                                                </div>
                                            </td>

                                            <td><i class="fa fa-star text-warning"></i></td>
                                            @{
                                                var controller = "";

                                                if (item.TITLE == Constant.PR_ACC_F06_TITLE)
                                                {
                                                    controller = "PurAccF06";
                                                }
                                                else if (item.TITLE == Constant.LCA_FORM_01_TITLE)
                                                {
                                                    controller = "LCA";
                                                }
                                            }
                                            <td>

                                                <a class="link request-item" href="@Url.Action("Details",controller, new {ticket = item.TICKET })" data-slide="next" name="1">
                                                    <span class="mb-0 text-muted">@Html.DisplayFor(m => item.TICKET)</span>
                                                </a>
                                            </td>
                                            <td>
                                                <i class="fas fa-user-edit text-muted"></i>
                                                <span class="mb-0 text-muted">@Html.DisplayFor(m => item.CREATE_USER)</span>
                                            </td>
                                            <td>
                                                <a class="link request-item" href="@Url.Action("Details",controller, new {ticket = item.TICKET })" data-slide="next" name="1">
                                                    <span class="badge badge-pill text-white font-medium badge-success mr-2">Work</span>
                                                    <span class="text-dark">@Html.DisplayFor(m => item.TITLE)</span>
                                                </a>
                                            </td>
                                            <td><i class="fa fa-paperclip text-muted"></i></td>
                                            <td class="text-muted">
                                                @item.UPD_DATE.ToString("yyyy-MM-dd")
                                            </td>
                                        </tr>
                                        _no++;
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="form-inline">
                            <div id="pagination-container"></div>
                            <i class="fas fa-redo-alt"></i>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="sent" aria-labelledby="sent-tab" role="tabpanel">
                        <div class="row p-3 text-dark">
                            <div class="col-md-6">
                                <h3 class="font-light">Lets check profile</h3>
                                <h4 class="font-light">you can use it with the small code</h4>
                            </div>
                            <div class="col-md-6 text-right">
                                <p>
                                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                                    arcu.
                                    In enim justo, rhoncus ut, imperdiet a.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="spam" aria-labelledby="spam-tab" role="tabpanel">
                        <div class="row p-3 text-dark">
                            <div class="col-md-6">
                                <h3 class="font-light">Come on you have a lot message</h3>
                                <h4 class="font-light">you can use it with the small code</h4>
                            </div>
                            <div class="col-md-6 text-right">
                                <p>
                                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                                    arcu.
                                    In enim justo, rhoncus ut, imperdiet a.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="delete" aria-labelledby="delete-tab" role="tabpanel">
                        <div class="row p-3 text-dark">
                            <div class="col-md-6">
                                <h3 class="font-light">Just do Settings</h3>
                                <h4 class="font-light">you can use it with the small code</h4>
                            </div>
                            <div class="col-md-6 text-right">
                                <p>
                                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                                    arcu.
                                    In enim justo, rhoncus ut, imperdiet a.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
@Scripts.Render("~/Content/js/mention.js")
@Scripts.Render("~/Content/js/moment.js")
@Scripts.Render("~/Content/js/jquery.simplePagination.js")
@Scripts.Render("~/Content/js/pagination.js")
@Scripts.Render("~/Content/js/bootstrap-typeahead.js")
@Scripts.Render("~/Content/js/bootstrap-typeahead.js")
@Scripts.Render("~/Content/js/form_common.js")
@Scripts.Render("~/Content/js/form_detail.js")
@Scripts.Render("~/Content/js/scripts.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")


<script type="text/javascript">
        $(document).ready(function () {
                                                    if (@ViewBag.type == 1) { // Gửi cho tôi
                                                        document.getElementById("sendToMe").checked = true;
                                                        document.getElementById("myRequest").checked = false;
                                                        document.getElementById("myCancel").checked = false;
                                                        document.getElementById("myFinish").checked = false;
                                                        } else if(@ViewBag.type == 2){ //Tôi cần phê duyệt
                $("#sendToMe").prop('checked', false);
                $("#myRequest").prop('checked', true);
                $("#myCancel").prop('checked', false);
                $("#myFinish").prop('checked', false);
                                                        } else if (@ViewBag.type == 3) { //Bị từ chối
                $("#sendToMe").prop('checked', false);
                $("#myRequest").prop('checked', false);
                $("#myCancel").prop('checked', true);
                $("#myFinish").prop('checked', false);
                $(".badge").text("Reject");
                $(".badge").addClass("badge-danger").removeClass("badge-success");
                                                        }
                                                        else if (@ViewBag.type == 4) { //Đã hoàn thành
                $("#sendToMe").prop('checked', false);
                $("#myRequest").prop('checked', false);
                $("#myCancel").prop('checked', false);
                $("#myFinish").prop('checked', true);
                $(".badge").text("Finish");
                                                        }
                                                        else {
                                                        }
                                                        });



</script>
