@model UMC_FORM.Models.GA.GA_LEAVE_FORM_ITEM
@using UMC_FORM.Models 
@using UMC_FORM.Business
@{
    Layout = null;
    var _session = Session["user"] as Form_User;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>Tạo form đăng ký nghỉ có lương</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap-typeahead.js"></script>
    <script src="~/Content/js/lang.js"></script>
    <script src="~/Content/js/form_common.js"></script>
    <script src="~/Content/js/GA/form_leave.js"></script>
</head>
<body>
    <div>
        <!--Form nhập request-->
        <div>
            <div>
                <div>
                    @using (Ajax.BeginForm("CreateNew", "GAFormLeave", new AjaxOptions
                    {
                        OnSuccess = "OnSuccess",
                        OnFailure = "OnFailure",
                        LoadingElementId = "progress"
                    }, new { enctype = "multipart/form-data", id = "formCreate" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary();
                        <div class="modal-body">
                            <div>
                                <a href=@Url.Action("Index", "Home",new {type = SendType.MYREQUEST } ) style="text-decoration: none;" class="text-dark">
                                    <i class="fas fa-angle-left font-title text-muted d-inline"></i>
                                    <h5 class="rext-dark d-inline lang text-uppercase" key="create-request">TẠO ĐỀ XUẤT MỚI</h5>
                                </a>
                            </div>
                            <hr>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="info-edit">

                            <div class="row">
                                <div class="col-3">
                                    <label class="font-weight-bold lang" key="request_dept_sub" name="DEPT">Request Dept</label>
                                </div>
                                <div class="col-9">
                                   
                                    <input  class="form-control" value="@_session.DEPT" name="DEPT" readonly="readonly"/>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-3">
                                    <label class="font-weight-bold lang" key="request_date_sub">Request Date</label>
                                </div>
                                <div class="col-9">
                                    <input class="form-control" type="date" name ="DATE_REGISTER" value=@DateTime.Now.ToString("yyyy-MM-dd")>
                                </div>
                            </div>
                            <br />

                            @if (ViewBag.listManager != null)
                            {
                                <br />
                                <div class="row">
                                    <div class="col-3">
                                        <label class="font-weight-bold lang" key="dept_manager">Name</label>
                                    </div>
                                    <div class="col-9">
                                        <select class="custom-select" id="deptManager" name="DEPT_MANAGER">
                                            @foreach (var mng in ViewBag.listManager)
                                            {
                                                <option value="@mng.CODE">@mng.NAME</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                            <br />
                            @if (ViewBag.listShiftManager != null)
                            {
                                <div class="row">
                                    <div class="col-3">
                                        <label class="font-weight-bold lang" key="manager_shift">Name</label>
                                    </div>
                                    <div class="col-9">
                                        <select class="custom-select" id="shiftManager" name="SHIFT_MANAGER">
                                            @foreach (var shift_mng in ViewBag.listShiftManager)
                                               {
                                                    <option value="@shift_mng.CODE">@shift_mng.NAME</option>
                                              }
                                        </select>
                                    </div>
                                </div>
                            }

                            <br />
                            <div class="row">
                                <div class="col-12">
                                    <p style="font-style:italic;font-weight:bold;">
                                        Giấy này được sử dụng cho nghỉ ưu đãi và nghỉ đặc biệt. Đối với các trường hợp nghỉ đặc biệt hãy đánh dấu √ vào cột "Nghỉ đặc biệt", ngoài ra sẽ được hiểu là nghỉ ưu đãi.
                                    </p>
                                </div>
                            </div>
                            <br />
                            <div class="table-responsive">
                                <input type="hidden" value="@Constant.GA_LEAVE_FORM_GA_35" name="purpose" />
                                <input type="hidden" value="@Constant.GA_PAID_LEAVE_ID" name="formName" />
                                <table class="table-border-dark">
                                    <tr>
                                        <th class="lang" key="table-no" rowspan="2">No</th>
                                        <th class="lang" rowspan="2" key="name">Name <br /> 氏名</th>
                                        <th class="lang" rowspan="2" key="table-code" style="width:100px;">Code No<br /> コード </th>
                                        <th class="lang" colspan="3" key="subscribe-date">Subscribe date<br /> 取得日 </th>
                                        <th class="lang" rowspan="2" key="reason-leave">Reason for leave<br />理由</th>
                                        <th class="lang" rowspan="2" key="special-leave" style="width:100px;">
                                            Special leave<br />慶弔<br /> 休暇
                                        </th>
                                        <th class="lang" rowspan="2" key="">Rmks</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center p-2" key="">
                                            From <br />
                                            Từ ngày or giờ
                                        </th>
                                        <th class="text-center p-2">
                                            To <br />
                                            Đến ngày or giờ
                                        </th>
                                        <th class="lang" key="total-date" style="width:100px;"> Total date <br />日間</th>
                                    </tr>


                                    <tbody id="tableInfo">
                                        @{
                                            for (int i = 1; i <= 5; i++)
                                            {
                                                <tr class="row-info">
                                                    <td class="">@(i)</td>
                                                    <td>
                                                        <input class="form-input inputDefault" id=@("FULLNAME" + i) required />
                                                    </td>
                                                    <td>
                                                        <input class="form-input inputDefault" id=@("CODE" + i) required/>
                                                    </td>
                                                    <td>
                                                        <input type="datetime-local" class="form-input  inputDefault" 	 id=@("TIME_FROM"+i) name=@("TIME_FROM"+i) />
                                                    </td>
                                                    <td>
                                                        <input class="form-input inputDefault" type="datetime-local"  id=@("TIME_TO" + i) name=@("TIME_TO" + i) />
                                                    </td>
                                                    <td>
                                                        <input class="form-input type_number inputDefault" id=@("TOTAL" + i) required />
                                                    </td>
                                                    <td>
                                                        <textarea class="form-input inputDefault" id=@("REASON" + i) required></textarea>
                                                    </td>
                                                    <td class="text-center p-2">

                                                        <input type="checkbox" id=@("SPEACIAL_LEAVE"+i) name="" value="" />
                                                    </td>
                                                    <td>
                                                        <input class="form-input  inputDefault" id=@("REMARK" + i)  />
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
           
                                </table>
                            
                                <input type="hidden" name="leaveItems" id="leaveItems" />
                                <div id="contextMenu" class="dropdown clearfix">
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
                                        style="display:block;position:static;margin-bottom:5px; color:red">
                                        <li>
                                            <a tabindex="-1" href="javascript:void(0)" style="text-decoration:none;"
                                               class="text-muted ml-2"><i class="fas fa-plus"></i><span class="lang" key="add-row"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <br />
                        </div>
                            <hr>
                            <br />
                            <div class="col">
                                <p class="font-italic font-weight-bold row text-underline">Note</p>
                                <span class="border p-2 row">
                                    1. Giấy đăng ký nghỉ gửi cho GA trước 17 giờ ngày hôm sau.
                                    <br />
                                    2. Để xử lý nhanh các dữ liệu liên quan đến tỷ lệ đi làm, tăng ca, đề nghị bộ phận gửi file mềm danh sách nghỉ theo địa chỉ email hiện tại cho GA.
                                    <br />
                                    3. Nội dung xin nghỉ cần ghi rõ lý do (lý do phải cụ thể)
                                    <br />
                                </span>
                            </div>
                            <br />
                        </div>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col">
                                <button class="btn btn-danger col lang" key="cancel" id='frmpaidleave_cancel' type="button" formnovalidate>Từ chối</button>
                            </div>
                            <div class="col">
                                <button type="submit" class="spinner-button btn btn-success mb-2 lang col" key="create" id="frmpaidleave_create">
                                    Đề xuất
                                </button>
                            </div>
                        </div>
                        <br>

                    }
                </div>
            </div>
        </div>
        @Html.Hidden("RedirectTo", Url.Action("Index", "Home", new
        {@*type = @SendType.SENDTOME*@}));
    </div>
   
                            <script type="text/javascript">
                                var now = new Date();
                                now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
                                for (var i = 1; i <= 5; i++) {
                                    document.getElementById('TIME_FROM' + i).value = now.toISOString().slice(0, 16);
                                }
                                
                                for (var i = 1; i <= 5; i++) {
                                    document.getElementById('TIME_TO' + i).value = now.toISOString().slice(0, 16);
                                }
                            </script>
</body>
</html>
