@using UMC_FORM.Business
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>Tạo form đăng ký nghỉ không lương</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    <div>
        <!--Form nhập request-->
        <div>
            <div>
                <div>

                    @using (Ajax.BeginForm("CreateFormUnPaidLeave", "GAFormLeave", new AjaxOptions
                    {
                        OnSuccess = "OnSuccess",
                        OnFailure = "OnFailure",
                        LoadingElementId = "progress"
                    }, new { enctype = "multipart/form-data", id = "formCreate" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary();
                        <div class="modal-body">
                            <div>
                                <a href=@Url.Action("Index", "Home",new {type = SendType.MYREQUEST } ) style="text-decoration: none;" class="text-dark">

                                    <i class="fas fa-angle-left font-title text-muted d-inline"></i>
                                    <h5 class="rext-dark d-inline lang text-uppercase" key="create-request">TẠO ĐỀ XUẤT MỚI</h5>
                                </a>

                            </div>
                            <hr>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="info-edit">
                                <div class="row">
                                    <div class="col-3">
                                        <label class="font-weight-bold lang" key="request_dept_sub">Request Dept</label>
                                    </div>
                                    <div class="col-9">
                                        <select class="form-control">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-3">
                                        <label class="font-weight-bold lang" key="request_date_sub">Request Date</label>
                                    </div>
                                    <div class="col-9">
                                        <input class="form-control" type="date" name="REQUEST_DATE" value=@DateTime.Now.ToString("yyyy-MM-dd")>
                                    </div>
                                </div>
                                <br />
                                @*<div class="row">
                                        <div class="col-3">
                                            <label class="font-weight-bold lang" key="count-subscriber">Count subscriber</label>
                                        </div>
                                        <div class="col-9">
                                            <input class="form-control" type="number" name="" value="">
                                        </div>
                                    </div>*@
                                <br>
                                <div class="row">
                                    <div class="col-12">
                                        <p style="font-style:italic;font-weight:bold;">
                                            Ghi rõ họ tên, mã số những người đăng ký nghỉ ngày phép ở bảng dưới đây:
                                        </p>
                                    </div>
                                </div>

                                @if (ViewBag.listManager != null)
                                {
                                    <br />
                                    <div class="row">
                                        <div class="col-3">
                                            <label class="font-weight-bold lang" key="dept_manager">Name</label>
                                        </div>
                                        <div class="col-9">
                                            <select class="custom-select" id="deptManager" name="deptManager">
                                                @foreach (var mng in ViewBag.listManager)
                                                {
                                                    <option value="@mng.CODE">@mng.NAME</option>

                                                }
                                            </select>
                                        </div>
                                    </div>
                                }
                                <br />

                                <div class="table-responsive">
                                    <table class="table-border-dark">
                                        <tr>
                                            <th class="lang" key="table-no" rowspan="2">No</th>
                                            <th class="lang" rowspan="2" key="name">Name <br /> 氏名</th>
                                            <th class="lang" rowspan="2" key="table-code" style="width:100px;">Code No<br /> コード </th>
                                            <th class="lang" colspan="3" key="subscribe-date">Subscribe date<br /> 取得日 </th>
                                            <th class="lang" rowspan="2" key="reason-leave">Reason for leave<br />理由</th>
                                           
                                            <th class="lang" rowspan="2" key="">Rmks</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center p-2" key="">
                                                From <br />
                                                Từ ngày or giờ
                                            </th>
                                            <th class="text-center p-2">
                                                To <br />
                                                Đến ngày or giờ
                                            </th>
                                            <th class="lang" key="total-date" style="width:100px;"> Total date <br />日間</th>
                                        </tr>
                                        <tbody id="tableInfo">
                                            @{
                                                for (int i = 1; i <= 5; i++)
                                                {
                                                    <tr class="row-info">
                                                        <td class="">@(i)</td>
                                                        <td>
                                                            <input class="form-input inputDefault" id=@("NAME_" + i) />
                                                        </td>
                                                        <td>
                                                            <input class="form-input inputDefault" id=@("CODE_" + i) />
                                                        </td>
                                                        <td>
                                                            <input type="datetime" class="form-input  inputDefault" id=@("START_LEAVE"+i) name=@("START_LEAVE"+i) value=@DateTime.Now.ToString("dd-mm-yyyy hh:mm") />
                                                        </td>
                                                        <td>
                                                            <input class="form-input inputDefault" type="datetime" id=@("FINISH_LEAVE" + i) name=@("FINISH_LEAVE" + i) value=@DateTime.Now.ToString("dd-mm-yyyy hh:mm") />
                                                        </td>
                                                        <td>
                                                            <input class="form-input text-right inputDefault" id=@("TOTAL_DAY" + i) />
                                                        </td>
                                                        <td>
                                                            <textarea class="form-input  inputDefault" id=@("REASON_LEAVE" + i) ></textarea>
                                                        </td>
                                                        <td>
                                                            <input class="form-input  inputDefault" id=@("RMKS" + i) />
                                                        </td>
                                                    </tr>
                                                }
                                            }


                                        </tbody>
                                    </table>
                                    <div id="contextMenu" class="dropdown clearfix">
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
                                            style="display:block;position:static;margin-bottom:5px; color:red">
                                            <li>
                                                <a tabindex="-1" href="javascript:void(0)" style="text-decoration:none;"
                                                   class="text-muted ml-2" name="unleave"><i class="fas fa-plus"></i><span class="lang" key="add-row"></span></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <hr>
                            <br />
                            <div class="col">
                                <p class="font-italic font-weight-bold row text-underline">Note</p>
                                <span class="border p-2 row">
                                    1. Giấy đăng ký nghỉ gửi cho GA trước 17 giờ ngày hôm sau.
                                    <br />
                                    2. Để xử lý nhanh các dữ liệu liên quan đến tỷ lệ đi làm, tăng ca, đề nghị bộ phận gửi file mềm danh sách nghỉ theo địa chỉ email hiện tại cho GA.
                                    <br />
                                </span>
                            </div>
                            <br />
                        </div>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col">
                                <button class="btn btn-danger col lang" key="cancel" id='frmpaidleave_cancel' type="button" formnovalidate>Từ chối</button>
                            </div>
                            <div class="col">
                                <button type="submit" class="spinner-button btn btn-success mb-2 lang col" key="create" id="frmpaidleave_create">
                                    Đề xuất
                                </button>

                            </div>

                        </div>
                        <br>
                    }
                </div>

            </div>
        </div>
        @Html.Hidden("RedirectTo", Url.Action("Index", "Home", new
        {@*type = @SendType.SENDTOME*@}));
    </div>
    <script src="~/Scripts/bootstrap-typeahead.js"></script>
    <script src="~/Content/js/mention.js"></script>
    <script src="~/Content/js/scripts.js"></script>
    <script src="~/Content/js/lang.js"></script>
    <script src="~/Content/js/form_common.js"></script>
    <script src="~/Content/js/GA/form_leave.js"></script>
</body>
</html>
