@model UMC_FORM.Models.GA.GA_LEAVE_FORM_DETAIL_MODEL
@using UMC_FORM.Business
@using UMC_FORM.Models
@using UMC_FORM.Ultils
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Print</title>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <link href="~/Content/css/pdf.css" rel="stylesheet" />

    <style>
        table, td, th {
            border: 1px solid black;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        body, html {
            font-family: Arial;
            font-size: 9px !important;
        }

        .info-edit {
            width: 100%;
        }

        #rectangle {
            width: 60px;
            height: 20px;
            border: solid 1px;
            text-align: center;
        }

        .td2 {
            width: 250px;
        }
    </style>
</head>

<body class="container-fluid">

    <!--Form nhập request-->
    <div>
        <div class="row">

            <label class="col lang text-right"></label>
            <label class="col text-right font-weight-bold">ID :  @Model.TICKET.TICKET</label>
        </div>


        <div class="card-body border border-dark pt-1">
            <div class="row">
                <div class="info-edit">
                    <div class="row">
                        <div class="col-1">
                            <img src="/Content/assets/img/logo.png">
                        </div>
                        <div class="col-9" style="text-align:center">
                            <b style="font-size:18px;">
                                GIẤY ĐĂNG KÝ NGHỈ CÓ LƯƠNG<br /> (Nghỉ ưu đãi, nghỉ đặc biệt gửi GA trước 17h hôm sau)
                            </b>
                            <br />
                            <h2>慶弔休暇、リフレッシュ休暇</h2>
                        </div>
                        <div class="col-2">
                            <div id="rectangle">
                                <span style="font-size:12px;font-weight:bold;">
                                    <p style="margin-top:3px;">GA-35</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-2">
                            <label class="font-weight-bold lang" key="request_dept_sub">Bộ phận đăng ký &ensp; 部署</label>
                        </div>
                        <div class="col-10">
                            @Model.TICKET.DEPT
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-2">
                            <label class="font-weight-bold lang" key="request_date_sub">Ngày đăng ký &ensp; 申請日</label>
                        </div>
                        <div class="col-10">
                            @Model.TICKET.DATE_REGISTER.ToString("dd-MM-yyyy")
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-2">
                            <label class="font-weight-bold lang" key="count_subscriber">Số người đăng ký &ensp; 人数</label>
                        </div>
                        <div class="col-10">
                            @Model.TICKET.NUMBER_REGISTER
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <span style="font-weight:bold;">
                                <p style="font-style:italic;">
                                    Giấy này được sử dụng cho nghỉ ưu đãi và nghỉ đặc biệt. Đối với các trường hợp nghỉ đặc biệt hãy đánh dấu √ vào cột "Nghỉ đặc biệt", ngoài ra sẽ được hiểu là nghỉ ưu đãi.
                                </p>
                            </span>

                        </div>
                    </div>


                    <div class="table-responsive">
                        <table class="table-border-dark">

                            <tr>
                                <th class="lang " key="" rowspan="2">STT <br />No. </th>
                                <th class="lang " rowspan="2" key="">Họ tên <br /> 氏名</th>
                                <th class="lang " rowspan="2" key="">Mã số<br /> コード </th>
                                <th class="lang " colspan="3" key="">Đăng ký ngày nghỉ<br /> 取得日 </th>
                                <th class="lang " rowspan="2" key="">Lý do nghỉ<br />理由</th>
                                <th class="lang " rowspan="2" key="">
                                    Nghỉ đặc biệt<br />慶弔<br /> 休暇
                                </th>
                                <th class="lang" rowspan="2" key="">Rmks</th>
                            </tr>
                            <tr>
                                <th class="text-center p-2" key="">
                                    
                                        From <br />
                                        Từ ngày or giờ
                                    
                                </th>
                                <th class="text-center p-2">
                                    
                                        To <br />
                                        Đến ngày or giờ
                                    
                                </th>
                                <th class="lang p-1" key=""> Tổng ngày <br />日間</th>
                            </tr>
                            <tbody id="tableInfo">
                                @{
                                    var i = 1;
                                    foreach (var item in Model.TICKET.GA_LEAVE_FORM_ITEMs)
                                    {
                                        <tr class="row-info">
                                            <td class="">@(i)</td>
                                            <td>
                                                @item.FULLNAME
                                            </td>
                                            <td>
                                                @item.CODE
                                            </td>
                                            <td>
                                                @item.TIME_FROM.ToString("dd-MM-yyyy HH:mm")
                                            </td>
                                            <td>
                                                @item.TIME_TO.ToString("dd-MM-yyyy HH:mm")
                                            </td>
                                            <td>
                                                @item.TOTAL
                                            </td>
                                            <td>
                                                @*<input class="form-input  inputDefault" id=@("REASON" + i) value="@item.REASON" />*@
                                                @item.REASON
                                            </td>
                                            <td class="text-center p-2">
                                                @if (item.SPEACIAL_LEAVE == true)
                                                {
                                                    <input type="checkbox" name=@("SPECIAL_LEAVE" + i) id=@("SPECIAL_LEAVE" + i) checked="@item.SPEACIAL_LEAVE" onclick="return false" />
                                                }
                                            </td>
                                            <td>
                                                @item.REMARK
                                            </td>
                                        </tr>
                                        i++;
                                    }

                                }
                            </tbody>
                        </table>

                    </div>
                    <br />
                </div>
                <br />
                @*@Html.Partial("~/Views/Common/_StationApprove.cshtml", Model.STATION_APPROVE)*@
                <div class="table-responsive">
                    <table class="table-border-dark ">
                        <thead>
                            <tr>
                                @{
                                    var index = 1;
                                }
                                @foreach (var station in Model.STATION_APPROVE)
                                {
                                    <th class="font-italic lang" rowspan="2"><span>@(index++ + ". ")</span><span class="lang" key="@station.STATION_NAME">@station.STATION_NAME</span></th>
                                }
                            </tr>

                        </thead>
                        <tbody>
                            <tr height="100px">
                                @{
                                    index = 1;
                                }
                                @foreach (var station in Model.STATION_APPROVE)
                                {
                                   
                                    if (station.IS_APPROVED)
                                    {
                                        <td>
                                            <div class="rubber_stamp">
                                                <p>@station.COMPANY</p>
                                                <p>@station.APPROVE_DATE.ToShortDateString()</p>
                                                <p>@station.SIGNATURE</p>
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                }

                            </tr>
                        </tbody>
                    </table>

                </div>
                <hr>
                <div class="col">
                    <p class="font-italic font-weight-bold row text-underline">Note</p>
                    <span class="border p-2 row" style="font-size:9px;">
                        1. Giấy đăng ký nghỉ gửi cho GA trước 17 giờ ngày hôm sau.
                        <br />
                        2. Để xử lý nhanh các dữ liệu liên quan đến tỷ lệ đi làm, tăng ca, đề nghị bộ phận gửi file mềm danh sách nghỉ theo địa chỉ email hiện tại cho GA.
                        <br />
                        3. Nội dung xin nghỉ cần ghi rõ lý do (lý do phải cụ thể)
                        <br />
                    </span>
                </div>
                <br />
            </div>
        </div>
    </div>
    <script src="~/Content/js/moment.js"></script>
    <script src="~/Content/js/lang.js"></script>
    <script src="~/Content/js/form_common.js"></script>
    <script src="~/Content/js/GA/form_leave.js"></script>
</body>
</html>
