@model UMC_FORM.Models.GA.GA_LEAVE_FORM_DETAIL_MODEL
@using UMC_FORM.Business
@using UMC_FORM.Models
@using UMC_FORM.Ultils
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Print</title>
    <link href="@Url.ContentVersioned("~/Content/css/styles", "css")" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <link href="~/Content/css/pdf.css" rel="stylesheet" />

    <style>
        table, td, th {
            border: 1px solid black;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        body, html {
            font-family: Arial;
            font-size: 9px !important;
        }

        .info-edit {
            width: 100%;
        }

        #rectangle {
            width: 60px;
            height: 20px;
            border: solid 1px;
            text-align: center;
        }

        .td2 {
            width: 250px;
        }

        .font-italic {
            font-size: 13px;
        }
    </style>
</head>

<body class="container-fluid">

    <!--Form nhập request-->
    <div>
        <div class="row">


        </div>
        <div class="card-body border border-dark pt-1">
            <div class="row">
                <div class="info-edit">
                    <br />
                    <div class="row">
                        <div class="col-1">
                            <img src="/Content/assets/img/logo.png">
                        </div>
                        <div class="col-9" style="text-align:center">
                            <b style="font-size:18px;">
                                GIẤY ĐĂNG KÝ NGHỈ KHÔNG LƯƠNG<br /> (Gửi giấy cho GA trước 17h hôm sau)
                            </b>
                            <br />
                            <h2>無給休暇届</h2>
                        </div>
                        <div class="col-2">
                            <div id="rectangle">
                                <span style="font-size:12px;font-weight:bold;">
                                    <p style="margin-top:3px;">GA-34</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row" style="font-size:12px;">
                        <div class="col-3">
                            <label class="font-weight-bold lang" key="request_dept_sub">Bộ phận đăng ký &ensp; 部署</label>
                        </div>
                        <div class="col-9">
                            <p> @Model.TICKET.DEPT</p>
                        </div>
                    </div>
                    <br />
                    <div class="row" style="font-size:12px;">
                        <div class="col-3">
                            <label class="font-weight-bold lang" key="request_date_sub">Ngày đăng ký &ensp; 申請日</label>
                        </div>
                        <div class="col-9">
                            @Model.TICKET.DATE_REGISTER.ToString("dd-MM-yyyy")
                        </div>
                    </div>
                    <br />
                    <div class="row" style="font-size:12px;">
                        <div class="col-3">
                            <label class="font-weight-bold lang" key="count_subscriber">Số người đăng ký &ensp; 人数</label>
                        </div>
                        <div class="col-9">
                            @Model.TICKET.NUMBER_REGISTER
                        </div>
                    </div>
                    <br>
                    <div class="row" style="font-size:12px;">
                        <div class="col-12">
                            <span style="font-weight:bold;">
                                <p style="font-style:italic;">
                                    Ghi rõ họ tên, mã số những người đăng ký nghỉ ngày phép ở bảng dưới đây.
                                </p>
                            </span>

                        </div>
                    </div>


                    <div class="table-responsive">
                        <table class="table-border-dark" style="font-size:10px;">

                            <tr>
                                <th class="lang " key="" rowspan="2">STT <br />No. </th>
                                <th class="lang " rowspan="2" key="">Họ tên <br /> 氏名</th>
                                <th class="lang " rowspan="2" key="">Mã số<br /> コード </th>
                                <th class="lang " colspan="3" key="">Đăng ký ngày nghỉ<br /> 取得日 </th>
                                <th class="lang " rowspan="2" key="">Lý do nghỉ<br />理由</th>
                                <th class="lang" rowspan="2" key="">Rmks</th>
                            </tr>
                            <tr>
                                <th class="text-center p-2" key="">

                                    From <br />
                                    Từ ngày or giờ

                                </th>
                                <th class="text-center p-2">

                                    To <br />
                                    Đến ngày or giờ

                                </th>
                                <th class="lang p-1" key=""> Tổng ngày <br />日間</th>
                            </tr>
                            <tbody id="tableInfo">
                                @{
                                    var i = 1;
                                    foreach (var item in Model.TICKET.GA_LEAVE_FORM_ITEMs)
                                    {
                                        <tr class="row-info">
                                            <td class="text-center">@(i)</td>
                                            <td style=" width:20%;">
                                                @item.FULLNAME
                                            </td>
                                            <td style=" width:5%;">
                                                @item.CODE
                                            </td>
                                            <td style="width:14%;">
                                                @item.TIME_FROM.ToString("dd-MM-yyyy HH:mm")
                                            </td>
                                            <td style="width:14%;">
                                                @item.TIME_TO.ToString("dd-MM-yyyy HH:mm")
                                            </td>
                                            <td class="text-center">
                                                @item.TOTAL
                                            </td>
                                            <td style=" width:32%;">
                                                <p class="colGroup"> @item.REASON</p>
                                            </td>
                                            <td style=" width:10%;">
                                                @item.REMARK
                                            </td>
                                        </tr>
                                        i++;
                                    }

                                }
                            </tbody>
                        </table>

                    </div>
                    <br />
                </div>
                <br />
                @Html.Partial("~/Views/Common/_StationApprove.cshtml", Model.STATION_APPROVE)

                <hr>
                <div class="col">
                    <p class="font-italic font-weight-bold row text-underline" style="font-size:12px;">Chú ý</p>
                    <div class="border p-2">
                        <p>
                            QLC kì hạn (12 h)    Trưởng nhóm kì hạn (14 h)     Trưởng bộ phận kì hạn (15 h)     Trưởng phòng GA kì hạn (16 h)      Nhóm tính lương kì hạn (17 h).
                        </p>
                        <span class="font-italic">
                            Dữ liệu nghỉ ngày hôm trước sẽ được hoàn thành ngày hôm sau theo kì hạn trên.
                        </span>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</body>
</html>
