@using UMC_FORM.Models
@model List<UMC_FORM.Models.LCA.StationApproveModel>
<div class="table-responsive">
    <table class="table table-bordered ">
        <thead>
            <tr>
              @{ 
                  var i = 1;
              }
                @foreach (var station in Model)
                {
                    <th class="font-italic lang"  rowspan="2"><span>@(i++ + ". ")</span><span class="lang" key="@station.STATION_NAME">@station.STATION_NAME</span></th>
                }
            </tr>

        </thead>
        <tbody>
            <tr height="100px">
                @foreach (var station in Model)
                {
                    if (station.IS_APPROVED)
                    {
                        <td  style="vertical-align: middle;" class="text-center">
                            <div class="rubber_stamp">
                                <p>@station.COMPANY</p>
                                <p>@station.APPROVE_DATE.ToShortDateString()</p>
                                <p>@station.SIGNATURE</p>
                            </div>
                            
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }

                }

            </tr>
        </tbody>
    </table>

</div>
