@model UMC_FORM.Models.LCA_FORM_01
    <input type="hidden" id="isChange" value="no"/>
<div class="row">
    <div class="col-3">
        <label class="font-weight-bold lang" key="request-date">Request date</label>
    </div>
    <div class="col-9">

        @Html.TextBoxFor(m => m.REQUEST_DATE, "{0:dd/MM/yyyy}", new { @Value = Model.REQUEST_DATE.ToString("yyyy-MM-dd"), @class = "form-control", type = "date" })
    </div>
</div>
<br />
<div class="row">
    <div class="col-3">
        <label class="font-weight-bold lang" key="target-date">Target date</label>
    </div>
    <div class="col-9">
        @Html.TextBoxFor(m => m.TARGET_DATE, "{0:dd/MM/yyyy}", new { @Value = Model.TARGET_DATE.ToString("yyyy-MM-dd"), @class = "form-control", type = "date" })

    </div>
</div>
<br>
<div class="row">
    <div class="col-3">
        <label class="font-weight-bold lang" key="request_dept">Request Dept</label>
    </div>
    <div class="col-9">
        @Html.TextBoxFor(m => m.DEPT, new { @class = "form-control" })
    </div>
</div>
<br>
<div class="row">
    <div class="col-3">
        <label class="font-weight-bold lang" key="name">Name</label>
    </div>
    <div class="col-9">
        @Html.TextBoxFor(m => m.CREATE_USER, new { @class = "form-control" })
    </div>
</div>
<br>
<div class="row">
    <table class="table table-bordered border ">
        <tr class="font-weight-bold">
            <td class="p-2"><label class="font-weight-bold lang text-left" key="target-supply">Loại Supply *</label></td>
            <td class="text-center p-2">活人</td>
            <td class="text-center p-2" colspan="2">必要物(ない場合、生産不可能）</td>
            <td class="text-center p-2" colspan="2">品質&５S改善</td>
            <td class="text-center p-2" colspan="2">NGチェンジ</td>
        </tr>
        <tr>
            <td class="p-2" rowspan="2" style="vertical-align: middle;"><label class="font-weight-bold lang text-left center" key="type-jip-supply">Phân loại Jip</label></td>
            <td class="text-center p-2 lang" key="increase_productivity">Tăng năng xuất</td>
            <td class="text-center p-2 lang" key="new_model">Model mới</td>
            <td class="text-center p-2 lang" key="incre_prod">Do tăng sản lượng</td>
            <td class="text-center p-2 lang" key="quantity">Cải tiếng chất lượng</td>
            <td class="text-center p-2 lang" key="5s">5S改善</td>
            <td class="text-center p-2 lang" key="ngjig" colspan="2">5S改善</td>

        </tr>
        <tr>
            <td class="text-center p-2"><input type="checkbox" id="select_target_1" value="increase_productivity" name="request_target[]" /></td>
            <td class="text-center p-2"><input type="checkbox" id="select_target_2" value="new_model" name="request_target[]" /></td>
            <td class="text-center p-2"><input type="checkbox" id="select_target_3" value="incre_prod" name="request_target[]" /></td>
            <td class="text-center p-2"><input type="checkbox" id="select_target_4" value="quantity" name="request_target[]" /></td>
            <td class="text-center p-2"><input type="checkbox" id="select_target_5" value="5s" name="request_target[]" /></td>
            <td class="text-center p-2" colspan="2">
                <input type="checkbox" id="select_target_6" value="ngjig" name="request_target[]" />

            </td>
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.REQUEST_TARGET)
            <script>
                $(function () {
                    var target = $('#REQUEST_TARGET').val()
                    var arrTarget = target.split(',')
                    for (var i = 1; i <= 6; i++) {
                        var select = $('#select_target_' + i).val()

                        if (arrTarget.includes(select)) {
                            $('#select_target_' + i).prop('checked', true)
                        } else {
                            $('#select_target_' + i).prop('checked', false)
                        }
                    }
                    $('input[id^="select_target_"').change(function () {
                        var target = "";
                        for (var i = 1; i <= 5; i++) {
                            if ($('#select_target_' + i).prop('checked') == true) {
                                target += $('#select_target_' + i).val() + ','
                            }
                        }
                        if (target.length > 0) {
                            target = target.substring(0, target.length - 1)
                        }

                        $('input[name="REQUEST_TARGET"').val(target)
                    })

                })

            </script>
        </tr>

        <tr class="font-weight-bold">
            <td class="p-2" rowspan="5" style="vertical-align: middle;"><label class="font-weight-bold lang text-left center" key="uoc_luong_hieu_qua">Phân loại Jip</label></td>
            <td class="text-center p-2 lang" colspan="2" key="reduce_staff">Tăng năng xuất</td>
            <td class="text-center p-2 lang" colspan="3" key="hieu_qua_cai_tien_chat_luong">Tăng năng xuất</td>
            <td class="text-center p-2 lang" key="tiet_kiem_chi_phi" colspan="2">Tăng năng xuất</td>
        </tr>
        <tr>
            <td rowspan="3" style="vertical-align: middle;">
                @Html.TextBoxFor(m => m.DECREASE_PERSON, new { @class = "form-input type_number text-center", style = "font-size:15px;" , @required = "required" })
            </td>
            <td style="vertical-align: middle;" class="text-center font-weight-bold" rowspan="3">人/月</td>
            <td class="p-2" style="vertical-align: middle;"><label class="font-weight-bold lang text-left center" key="noi_dung_loi">Phân loại Jip</label></td>
            <td colspan="2" style="vertical-align: middle;">
                @Html.TextBoxFor(m => m.CONTENT_ERROR, new { @class = "form-input", @required = "required" })
            </td>
            <td rowspan="3" style="vertical-align: middle;">
                @Html.TextBoxFor(m => m.COST_SAVING, new { @class = "form-input type_number text-center", style = "font-size:15px;" , @required = "required" })
            </td>
            <td rowspan="3" style="vertical-align: middle;" class="text-center font-weight-bold">USD/月</td>

        </tr>
        <tr>
            <td class="p-2" style="vertical-align: middle;"><label class="font-weight-bold lang text-left center" key="ty_le_loi">Phân loại Jip</label></td>
            <td colspan="2">
                @Html.TextBoxFor(m => m.ERROR_RATE_CURRENT, new { @class = "form-input", @required = "required"})
            </td>

        </tr>
        <tr>
            <td class="p-2" style="vertical-align: middle;"><label class="font-weight-bold lang text-left center" key="hieu_qua_cai_tien">Phân loại Jip</label></td>
            <td colspan="2">
                @Html.TextBoxFor(m => m.IMPROVED_EFICIENCY, new { @class = "form-input", @required = "required" })
            </td>
        </tr>
        <tr>
            <td class="font-weight-bold text-center">Other:</td>
            <td colspan="6">
                @Html.TextBoxFor(m => m.OTHER, new { @class = "form-input" })
            </td>
        </tr>
        <tr>
            <td class="p-2">
                <label class="font-weight-bold lang" key="chi_tra">Name</label>
            </td>
            <td colspan="7" class="p-2">
                <label for="customer" class="lang mr-2" key="Customer"></label>
                <input id="customer" type="checkbox" value="Customer" name="payer[]" class="payer-group">
                <label for="umcvn" class="lang mr-2 ml-5" key="">UMCVN</label>
                <input id="umcvn" type="checkbox" value="UMCVN" name="payer[]" class="payer-group">
                @Html.HiddenFor(m => m.PAYER)
            </td>
            <script>
                $(function () {
                    var payer = $('#PAYER').val();
                    
                    if (payer == 'UMCVN') {
                        $('#customer').prop('checked', false);
                        $('#umcvn').prop('checked', true);
                    } else if (payer == 'Customer') {
                        $('#customer').prop('checked', true);
                        $('#umcvn').prop('checked', false);
                    }
                    $('#customer').change(function () {
                        if ($('#customer').prop('checked') == true) {
                            $('#umcvn').prop('checked', false);

                            $('input[name="PAYER"]').val($('#customer').val())
                        }
                    })
                    $('#umcvn').change(function () {
                        if ($('#umcvn').prop('checked') == true) {
                            $('#customer').prop('checked', false);
                            $('input[name="PAYER"]').val($('#umcvn').val())
                        }
                    })

                })

            </script>
        </tr>

    </table>
  
</div>
<div class="row">
    <div class="col">
        <div class="lang" key="doi_tuong_ap_dung"></div>

    </div>
    <div class="col ">
        <span>PCB</span>
        @Html.TextBoxFor(m => m.PCB, new { @class = " ml-2 border-bottom", style = "border:none;", @required = "required" })
    </div>
</div>
<br />
<div class="row">

    <div class="col ">
        <span class="lang" key="Customer"></span>
        @Html.TextBoxFor(m => m.CUSTOMER, new { @class = " ml-2 border-bottom", style = "border:none;" , @required = "required" })
    </div>
    <div class="col ">
        <span>Model</span>
        @Html.TextBoxFor(m => m.MODEL, new { @class = " ml-2 border-bottom", style = "border:none;",  @required = "required" })
    </div>
</div>
<br />
<div class="row ml-1">
    <p>内容■　Nội dung yêu cầu: (Phải thêm comment tiếng Anh/ tiếng Nhật)</p>

    <p class="font-weight-bold">(MUST : Please add comment by English or Japanese)</p>
    <p class="text-danger font-weight-bold ml-2 d-none awarm-unicode lang" key="need_enter_english">Bạn cần nhập Tiếng Anh hoặc Tiếng Nhật</p>

    @Html.TextAreaFor(m => m.REQUEST_CONTENT, new { @class = "form-control", @required = "required" })
</div>
@Html.HiddenFor(m => m.TICKET)
@Html.HiddenFor(m => m.ID)