@model UMC_FORM.Models.LCA_FORM_01
@using UMC_FORM.Models
@using UMC_FORM.Business
@{
    Layout = null;
    var _session = Session["user"] as Form_User;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
</head>

<body class="sb-nav-fixed container-fluid">

    <!--Form nhập request-->
    <div>
        <div>
            <div>
              
                @using (Html.BeginForm("Create", "LCA", FormMethod.Post, new { enctype = "multipart/form-data", id = "formCreate" }))
                {
                    @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div>
                        <a href=@Url.Action("Index", "Home",new {type = SendType.MYREQUEST } ) style="text-decoration: none;" class="text-dark">

                            <i class="fas fa-angle-left font-title text-muted d-inline"></i>
                            <h5 class="rext-dark d-inline lang text-uppercase" key="create-request">TẠO ĐỀ XUẤT MỚI</h5>
                        </a>

                    </div>

                    <hr>
                    @Html.ValidationMessage("Error")

                    <h5 class="text-uppercase lang mb-4 font-weight-bold" key="req-dept">THÔNG TIN SẢN PHẨM</h5>
                    <div class="info-edit">
                        <div class="row">
                            <div class="col-3">
                                <label class="font-weight-bold lang" key="request-date">Request date</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="date" name="REQUEST_DATE" value=@DateTime.Now.ToString("yyyy-MM-dd")>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-3">
                                <label class="font-weight-bold lang" key="target-date">Target date</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" type="date" name="TARGET_DATE" value=@DateTime.Now.ToString("yyyy-MM-dd")>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">
                                <label class="font-weight-bold lang" key="request_dept">Request Dept</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" value="@_session.DEPT" name="DEPT" readonly="readonly" />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-3">
                                <label class="font-weight-bold lang" key="name">Name</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" value="@_session.NAME" readonly="readonly">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <table class="table-border-dark ">
                                <tr class="font-weight-bold">
                                    <td class="p-2"><label class="font-weight-bold lang text-left" key="target-supply">Loại Supply *</label></td>
                                    <td class="text-center p-2">活人</td>
                                    <td class="text-center p-2" colspan="2">必要物(ない場合、生産不可能）</td>
                                    <td class="text-center p-2" colspan="2">品質&５S改善</td>
                                    <td class="text-center p-2" colspan="2">NGチェンジ</td>
                                </tr>
                                <tr>
                                    <td class="p-2" rowspan="2" style="vertical-align: middle;"><label class="font-weight-bold lang text-left center" key="type-jip-supply">Phân loại Jip</label></td>
                                    <td class="text-center p-2 lang" key="increase_productivity">Tăng năng xuất</td>
                                    <td class="text-center p-2 lang" key="new_model">Model mới</td>
                                    <td class="text-center p-2 lang" key="incre_prod">Do tăng sản lượng</td>
                                    <td class="text-center p-2 lang" key="quantity">Cải tiếng chất lượng</td>
                                    <td class="text-center p-2 lang" key="5s">5S改善</td>
                                    <td class="text-center p-2 lang" key="ngjig" colspan="2">5S改善</td>

                                </tr>
                                <tr>
                                    <td class="text-center p-2"><input type="checkbox" id="select_target_1" value="increase_productivity" /></td>
                                    <td class="text-center p-2"><input type="checkbox" id="select_target_2" value="new_model" /></td>
                                    <td class="text-center p-2"><input type="checkbox" id="select_target_3" value="incre_prod" /></td>
                                    <td class="text-center p-2"><input type="checkbox" id="select_target_4" value="quantity" /></td>
                                    <td class="text-center p-2"><input type="checkbox" id="select_target_5" value="5s" /></td>
                                    <td class="text-center p-2" colspan="2">
                                        <input type="checkbox" id="select_target_6" value="ngjig" />
                                        <input type="hidden" name="REQUEST_TARGET" />
                                    </td>
                                    <script>
                                        $(function () {
                                            $('input[id^="select_target_"').change(function () {
                                                var target = "";
                                                for (var i = 1; i <= 5; i++) {
                                                    if ($('#select_target_' + i).prop('checked') == true) {
                                                        target += $('#select_target_' + i).val() + ','
                                                    }
                                                }
                                                if (target.length > 0) {
                                                    target = target.substring(0, target.length - 1)
                                                }

                                                $('input[name="REQUEST_TARGET"').val(target)
                                            })

                                        })

                                    </script>
                                </tr>

                                <tr class="font-weight-bold">
                                    <td class="p-2" rowspan="5" style="vertical-align: middle;"><label class="font-weight-bold lang text-left center" key="uoc_luong_hieu_qua">Phân loại Jip</label></td>
                                    <td class="text-center p-2 lang" colspan="2" key="reduce_staff">Tăng năng xuất</td>
                                    <td class="text-center p-2 lang" colspan="3" key="hieu_qua_cai_tien_chat_luong">Tăng năng xuất</td>
                                    <td class="text-center p-2 lang" key="tiet_kiem_chi_phi" colspan="2">Tăng năng xuất</td>
                                </tr>
                                <tr>
                                    <td rowspan="3" style="vertical-align: middle;"><input class="form-input type_number text-center" style="font-size:15px;" rows="4" name="DECREASE_PERSON" required></td>
                                    <td style="vertical-align: middle;" class="text-center font-weight-bold" rowspan="3">人/月</td>
                                    <td class="p-2" style="vertical-align: middle;"><label class="font-weight-bold lang text-left center" key="noi_dung_loi">Phân loại Jip</label></td>
                                    <td colspan="2" style="vertical-align: middle;"><input class="form-input" rows="4" name="CONTENT_ERROR" required></td>
                                    <td rowspan="3" style="vertical-align: middle;"><input class="form-input type_number text-center" style="font-size:15px;" rows="4" name="COST_SAVING" required></td>
                                    <td rowspan="3" style="vertical-align: middle;" class="text-center font-weight-bold">USD/月</td>

                                </tr>
                                <tr>
                                    <td class="p-2" style="vertical-align: middle;"><label class="font-weight-bold lang text-left center" key="ty_le_loi">Phân loại Jip</label></td>
                                    <td colspan="2"><input class="form-input" rows="4" name="ERROR_RATE_CURRENT" required></td>

                                </tr>
                                <tr>
                                    <td class="p-2" style="vertical-align: middle;"><label class="font-weight-bold lang text-left center" key="hieu_qua_cai_tien">Phân loại Jip</label></td>
                                    <td colspan="2"><input class="form-input" rows="4" name="IMPROVED_EFICIENCY" required></td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold text-center">Other:</td>
                                    <td colspan="6"><input class="form-input" name="OTHER" /></td>
                                </tr>
                                <tr>
                                    <td class="p-2">
                                        <label class="font-weight-bold lang" key="chi_tra">Name</label>
                                    </td>
                                    <td colspan="7" class="p-2">
                                        <label for="customer" class="lang mr-2" key="Customer"></label>
                                        <input id="customer" type="checkbox" value="Customer">
                                        <label for="umcvn" class="lang mr-2 ml-5" key="">UMCVN</label>
                                        <input id="umcvn" type="checkbox" value="UMCVN">
                                        <input type="hidden" name="PAYER" />
                                    </td>

                                </tr>

                            </table>
                            <script>
                                $(function () {
                                    $('#customer').change(function () {
                                        if ($('#customer').prop('checked') == true) {
                                            $('#umcvn').prop('checked', false);

                                            $('input[name="PAYER"]').val($('#customer').val())
                                        }
                                    })
                                    $('#umcvn').change(function () {
                                        if ($('#umcvn').prop('checked') == true) {
                                            $('#customer').prop('checked', false);
                                            $('input[name="PAYER"]').val($('#umcvn').val())
                                        }
                                    })

                                })

                            </script>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="lang" key="doi_tuong_ap_dung"></div>

                            </div>
                            <div class="col ">
                                <span>PCB</span>
                                <input class=" ml-2 border-bottom" style="border:none;" name="PCB" required />
                            </div>
                        </div>
                        <br />
                        <div class="row">

                            <div class="col ">
                                <span class="lang" key="Customer"></span>
                                <input class=" ml-2 border-bottom" style="border:none;" name="CUSTOMER" required />
                            </div>
                            <div class="col ">
                                <span>Model</span>
                                <input class=" ml-2 border-bottom" style="border:none;" name="MODEL" required />
                            </div>
                        </div>
                        <br />
                        <div class="row ml-1">
                            <p>内容■　Nội dung yêu cầu: (Phải thêm comment tiếng Anh/ tiếng Nhật)</p>

                            <p class="font-weight-bold">(MUST : Please add comment by English or Japanese)</p>
                            <textarea class="form-control" rows="3" name="REQUEST_CONTENT" required></textarea>
                        </div>
                    </div>
                    <hr>
                    <div class="create-quote">
                        <h5 class="text-uppercase lang font-weight-bold mb-4" key="lca_bao_gia">LCA Báo giá</h5>
                        <div class="row">
                            <div class="col-3">
                                <label class="font-weight-bold lang" key="received-date">Target date</label>
                            </div>
                            <div class="col-9">
                                <input class="form-control" name="RECEIVE_DATE" type="date" value=@DateTime.Now.ToString("yyyy-MM-dd")>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-3">
                                <label class="font-weight-bold lang" key="">Lead time:</label>
                                <p class="font-italic">(After get approval from GD)</p>
                            </div>
                            <div class="col-9">
                                <input class="form-control" name="LEAD_TIME" type="date" value=@DateTime.Now.ToString("yyyy-MM-dd")>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table-border-dark quote">
                                <tr>
                                    <th class="lang" key="table-no" rowspan="2" align="center">No</th>
                                    <th class="lang" key="table-item-req" width="300px" rowspan="2">Item name</th>
                                    <th class="lang" key="table-qty" rowspan="2">Qty</th>
                                    <th class="lang" key="" colspan="2">LCA Material Cost (USD)</th>
                                    <th class="lang" key="" colspan="2">Customer charge (USD)</th>
                                </tr>
                                <tr>

                                    <td class="lang text-center" width="">Unit price</td>
                                    <td class="lang text-center" width="">Total cost</td>
                                    <td class="lang text-center" width="">Unit price</td>
                                    <td class="lang text-center" width="">Total cost</td>

                                </tr>

                                <tbody id="tableInfo">
                                    @{
                                        for (int i = 1; i <= 5; i++)
                                        {
                                            <tr class="row-info">
                                                <td>@(i)</td>
                                                <td><input class="form-input inputDefault" name=@("ITEM_NAME_" + i) id=@("ITEM_NAME_" + i) /></td>
                                                <td><input class="form-input type_number inputDefault" id=@("QTY_" + i) /> </td>
                                                <td><input class="form-input type_number inputDefault" id=@("UNIT_PRICE_LCA_" + i) readonly /> </td>
                                                <td><input class="form-input type_number inputDefault" id=@("TOTAL_LCA_" + i) disabled />  </td>
                                                <td><input class="form-input type_number inputDefault" id=@("UNIT_PRICE_CUSTOMER_" + i) readonly/> </td>
                                                <td><input class="form-input type_number inputDefault" id=@("TOTAL_CUSTOMER_" + i) disabled /></td>
                                            </tr>
                                        }

                                    }

                                    <tr class="p-3 summary">
                                        <td class="border-0 font-italic" colspan="4">
                                            * If request Items are over 5, please issue more request sheet
                                        </td>
                                        <td class="border-0 font-weight-bold">
                                            <div class="text-right">
                                                <span class="">Total:</span>
                                                <span class="totalLCA">100</span>
                                                <span class="">$</span>
                                            </div>

                                        </td>
                                        <td class="border-0"></td>
                                        <td class="border-0 font-weight-bold text-right">
                                            <span class="">Total:</span>
                                            <span class="totalCustomer">100</span>
                                            <span class="">$</span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <input type="hidden" name="quotes" id="quotes" />

                            <div id="contextMenu" class="dropdown clearfix">
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
                                    style="display:block;position:static;margin-bottom:5px; color:red">
                                    <li>
                                        <a tabindex="-1" href="javascript:void(0)" style="text-decoration:none;"
                                           class="text-muted ml-2"><i class="fas fa-plus"></i><span class="lang" key="add-row"></span></a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <br />
                        <div class="row ml-1">
                            <p class="font-italic text-underline">Comment</p>
                            <textarea class="form-control" rows="3" name="COMMENT"></textarea>
                        </div>
                        <br />

                    </div>

                    <br />
                    <div class="col">
                        <p class="font-italic font-weight-bold row text-underline">Note</p>
                        <span class="border p-2 row">
                            1. LCA chỉ bắt đầu triển khai thực hiện sau khi giấy yêu cầu nhận được phê duyệt cuối cùng từ Tổng Giám Đốc
                            <br />
                            作成依頼は100% 社長が承認します。注意してお願い致します。
                            <br />
                            2. Trường hợp khách hàng trả Tiền thì phải được xác nhận từ bộ phận BC
                        </span>
                    </div>
                    <br />
                    <h5 class="text-uppercase lang font-weight-bold mb-4" key="">③ Biểu kiểm tra dụng cụ の書式にて完成品の確認　（Xác nhận Jig　治具確認）</h5>
                    <p>
                        Sử dụng "Biểu kiểm tra Jig,Pallet trước khi sử dụng" mã số: F06-PR.ACC.01-**
                        <br />
                        治工具運用前のチェックシートを使う：F06-PR.ACC.01-**

                    </p>
                    <br />
                    <div class="row mt-2">
                        <div class="form-inline">
                            <button type="button" class="btn btn-warning font-weight-bold lang" key="attach">**File đính kèm**</button>
                            <input type="file" name="fileAttach" id="fileAttach" class="ml-3" multiple>
                        </div>

                    </div>
                    <div class=" mt-2 files">


                    </div>
                </div>

                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col">
                            <button class="btn btn-danger col lang" key="cancel" id="cancel">Từ chối</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-success col lang" key="create" id="create">Đề xuất</button>
                        </div>
                    </div>
                    <br>
                }
            </div>

        </div>
    </div>
    <script type="text/javascript">
        $("#btnCancel").click(function () {
            location.href = '@Url.Action("Index", "Home", new { type = @SendType.SENDTOME })'
        })

    </script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/scripts.js"></script>
    <script src="~/Content/js/lang.js"></script>
    <script src="~/Content/js/form_common.js"></script>
    <script src="~/Content/js/lca/form_lca.js"></script>

</body>

</html>