@model UMC_FORM.Models.LCA.LCADetailModel
@using UMC_FORM.Models
@using UMC_FORM.Business
@{
    Layout = "~/Views/Shared/_Layout_Custom1.cshtml";
    var _session = Session["user"] as Form_User;
    var keyState = Model.SUMARY.IS_REJECT ? "cancel-request" : Model.SUMARY.IS_FINISH ? "finish-request" : "waitting";
}


<div id="layoutSidenav_content">
    <div class="container-fluid content">
        <div class="">
            <div class=" row">

                <div class="col-md-10 border-right">
                    <input type="hidden" id="users" value="@Model.USERS" />

                    @using (Ajax.BeginForm("Details", "LCA", new AjaxOptions
                    {
                        OnSuccess = "OnSuccess",
                        OnFailure = "OnFailure",
                        LoadingElementId = "progress"
                    }, new { enctype = "multipart/form-data", id = "submitForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <br>
                        <a href="@Url.Action("Index", "Home")" style="text-decoration: none;">
                            <i class="fas fa-angle-left font-title text-muted"></i>
                            <span class="font-weight-bold ml-2 text-muted lang text-uppercase" key="title-lca-req" style="font-size: 18px;">YÊU CẦU CUNG CẤP</span>
                        </a>
                        <div class="row">
                            <div class="col-11 form-inline">
                                <span class="font-italic text-muted lang" key="state">Trạng thái:</span>
                                <span class="badge badge-pill badge-primary ml-2 lang font-italic" key="@keyState">...</span>
                            </div>
                            <div class="col-1">
                                <a href="@Url.Action("PrintView", "LCA",new { ticket = Model.TICKET.TICKET })" )" class="text-dark" target="_blank">
                                    <i class="fas fa-print"></i>
                                </a>

                            </div>
                        </div>

                        <hr>
                        @Html.ValidationMessage("Error")


                        <input id="status" name="status" type="hidden" />
                        if (Model.SUBMITS.Contains(SUBMIT.RE_APPROVE))
                        {

                            <button class="spinner-button btn btn-danger mb-2 lang col" key="reaccept" id="lca_accept" type="submit" value="accept">Chấp thuận</button>
                        }
                        else if (Model.SUBMITS.Contains(SUBMIT.APPROVE))
                        {
                            <div class="row">
                                <div class="col">
                                    <button class="spinner-button btn btn-danger mb-2 lang col" key="reject" id="lca_reject" value="reject" type="submit">Từ chối</button>
                                </div>
                                <div class="col">
                                    <button class="spinner-button btn btn-success mb-2 lang col" key="accept" id="lca_accept" value="accept" type="submit">Chấp thuận</button>
                                </div>

                            </div>
                        }

                        else if (Model.SUBMITS.Contains(SUBMIT.EDIT_QUOTE))
                        {
                            <button class="spinner-button btn btn-success mb-2 lang col" key="edit_quote" id="lca_edit_quote" type="submit" value="edit_quote">Chấp thuận</button>
                        }

                        <div class="row mt-4">
                            <div class="col">
                                <p class=" font-weight-bold text-uppercase lang" key="req-info">
                                    THÔNG TIN ĐỀ XUẤT
                                </p>
                            </div>
                            <div class="col text-right">
                                <span class="text-right text-uppercase lang" key="code">MÃ ĐỀ XUẤT:</span>
                                <span class="text-primary font-weight-bold text-right" id="ticketNo">@Html.DisplayFor(m => m.TICKET.TICKET)</span>
                            </div>
                        </div>
                        <hr class="mt-1">
                        <div class="">
                            @if (Model.PERMISSION.Contains(PERMISSION.EDIT_INFO))
                            {
                                @Html.Partial("~/Views/LCA/_TicketEdit.cshtml", Model.TICKET)
                            }
                            else
                            {
                                @Html.Partial("~/Views/LCA/_TicketView.cshtml", Model.TICKET)
                            }

                            <hr>

                            @{

                                if (Model.PERMISSION.Contains(PERMISSION.EDIT_INFO))
                                {
                                    <div class="create-quote-info">
                                        <h5 class="text-uppercase lang font-weight-bold mb-4" key="lca_bao_gia">LCA Báo giá</h5>
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="font-weight-bold lang" key="received-date">Target date</label>
                                            </div>
                                            <div class="col-9">
                                                <input class="form-control" name="RECEIVE_DATE" type="date" value=@DateTime.Now.ToString("yyyy-MM-dd")>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="font-weight-bold lang" key="">Lead time:</label>
                                                <p class="font-italic">(After get approval from GD)</p>
                                            </div>
                                            <div class="col-9">
                                                <input class="form-control" name="LEAD_TIME" type="date" value=@DateTime.Now.ToString("yyyy-MM-dd")>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table-border-dark">
                                                <tr>
                                                    <th class="lang" key="table-no" rowspan="2" align="center">No</th>
                                                    <th class="lang" key="table-item-req" width="300px" rowspan="2">Item name</th>
                                                    <th class="lang" key="table-qty" rowspan="2">Qty</th>
                                                    <th class="lang" key="" colspan="2">LCA Material Cost (USD)</th>
                                                    <th class="lang" key="" colspan="2">Customer charge (USD)</th>
                                                </tr>
                                                <tr>

                                                    <td class="lang text-center" width="">Unit price</td>
                                                    <td class="lang text-center" width="">Total cost</td>
                                                    <td class="lang text-center" width="">Unit price</td>
                                                    <td class="lang text-center" width="">Total cost</td>

                                                </tr>

                                                <tbody id="tableInfo">
                                                    @{
                                                        var i = 1;
                                                        foreach (var quote in Model.TICKET.LCA_QUOTEs)
                                                        {
                                                            <tr class="row-info">
                                                                <td>@(i)</td>
                                                                @if (i == 1)
                                                                {
                                                                    <td><textarea class="form-input inputDefault bg-white" name=@("ITEM_NAME_" + i) id=@("ITEM_NAME_" + i) required>@quote.REQUEST_ITEM</textarea></td>
                                                                    <td><input class="form-input type_number inputDefault bg-white" id=@("QTY_" + i) value="@quote.QUANTITY.ToString("#,##0")" required /> </td>
                                                                }
                                                                else
                                                                {
                                                                    <td><textarea class="form-input inputDefault bg-white" name=@("ITEM_NAME_" + i) id=@("ITEM_NAME_" + i) >@quote.REQUEST_ITEM</textarea></td>
                                                                    <td><input class="form-input type_number inputDefault bg-white" id=@("QTY_" + i) value="@quote.QUANTITY.ToString("#,##0")" /> </td>
                                                                }

                                                                <td><input class="form-input type_number inputDefault bg-white" id=@("UNIT_PRICE_LCA_" + i) value="@quote.LCA_UNIT_PRICE.FormatPrice()" readonly /> </td>
                                                                <td><input class="form-input type_number inputDefault bg-white" id=@("TOTAL_LCA_" + i) value="@quote.LCA_TOTAL_COST.FormatPrice()" readonly />  </td>
                                                                <td><input class="form-input type_number inputDefault bg-white" id=@("UNIT_PRICE_CUSTOMER_" + i) value="@quote.CUSTOMER_UNIT_PRICE.FormatPrice()" readonly /> </td>
                                                                <td><input class="form-input type_number inputDefault bg-white" id=@("TOTAL_CUSTOMER_" + i) value="@quote.CUSTOMER_TOTAL_COST.FormatPrice()" readonly /></td>
                                                            </tr>
                                                            i++;
                                                        }
                                                        if (Model.TICKET.LCA_QUOTEs.Count < 5)
                                                        {
                                                            while (i < 6)
                                                            {
                                                                <tr class="row-info">
                                                                    <td>@(i)</td>
                                                                    @if (i == 1)
                                                                    {
                                                                        <td><textarea class="form-input inputDefault" name=@("ITEM_NAME_" + i) id=@("ITEM_NAME_" + i) required ></textarea></td>
                                                                        <td><input class="form-input type_number inputDefault" id=@("QTY_" + i) required /> </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td><textarea class="form-input inputDefault" name=@("ITEM_NAME_" + i) id=@("ITEM_NAME_" + i) ></textarea></td>
                                                                        <td><input class="form-input type_number inputDefault" id=@("QTY_" + i) /> </td>
                                                                    }

                                                                    <td><input class="form-input type_number inputDefault" id=@("UNIT_PRICE_LCA_" + i) readonly /> </td>
                                                                    <td><input class="form-input type_number inputDefault" id=@("TOTAL_LCA_" + i) disabled />  </td>
                                                                    <td><input class="form-input type_number inputDefault" id=@("UNIT_PRICE_CUSTOMER_" + i) readonly /> </td>
                                                                    <td><input class="form-input type_number inputDefault" id=@("TOTAL_CUSTOMER_" + i) disabled /></td>
                                                                </tr>
                                                                i++;
                                                            }
                                                        }

                                                    }

                                                    <tr class="p-3 summary">
                                                        <td class="border-0 font-italic" colspan="4">
                                                            * If request Items are over 5, please issue more request sheet
                                                        </td>
                                                        <td class="border-0 font-weight-bold">
                                                            <div class="text-right">
                                                                <span class="">Total:</span>
                                                                <span class="totalLCA">100</span>
                                                                <span class="">$</span>
                                                            </div>

                                                        </td>
                                                        <td class="border-0"></td>
                                                        <td class="border-0 font-weight-bold text-right">
                                                            <span class="">Total:</span>
                                                            <span class="totalCustomer">100</span>
                                                            <span class="">$</span>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                            <input type="hidden" name="quotes" id="quotes" />

                                            <div id="contextMenu" class="dropdown clearfix">
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
                                                    style="display:block;position:static;margin-bottom:5px; color:red">
                                                    <li>
                                                        <a tabindex="-1" href="javascript:void(0)" style="text-decoration:none;"
                                                           class="text-muted ml-2"><i class="fas fa-plus"></i><span class="lang" key="add-row"></span></a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                }
                                else if (Model.PERMISSION.Contains(PERMISSION.QUOTE))
                                {
                                    <div class="create-quote">
                                        <h5 class="text-uppercase lang font-weight-bold mb-4" key="lca_bao_gia">LCA Báo giá</h5>
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="font-weight-bold lang" key="received-date">Target date</label>
                                            </div>
                                            <div class="col-9">
                                                <input class="form-control" name="RECEIVE_DATE" type="date" value=@DateTime.Now.ToString("yyyy-MM-dd")>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="font-weight-bold lang" key="">Lead time:</label>
                                                <p class="font-italic">(After get approval from GD)</p>
                                            </div>
                                            <div class="col-9">
                                                <input class="form-control" name="LEAD_TIME" type="date" value=@DateTime.Now.ToString("yyyy-MM-dd")>
                                            </div>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="table-border-dark">
                                                <tr>
                                                    <th class="lang" key="table-no" rowspan="2" align="center">No</th>
                                                    <th class="lang" key="table-item-req" width="300px" rowspan="2">Item name</th>
                                                    <th class="lang" key="table-qty" rowspan="2">Qty</th>
                                                    <th class="lang" key="" colspan="2">LCA Material Cost (USD)</th>
                                                    <th class="lang" key="" colspan="2">Customer charge (USD)</th>
                                                </tr>
                                                <tr>

                                                    <td class="lang text-center" width="">Unit price</td>
                                                    <td class="lang text-center" width="">Total cost</td>
                                                    <td class="lang text-center" width="">Unit price</td>
                                                    <td class="lang text-center" width="">Total cost</td>

                                                </tr>

                                                <tbody id="tableInfo">
                                                    @{
                                                        var i = 1;
                                                        var required = (Model.SUBMITS.Contains(SUBMIT.EDIT_QUOTE) && Model.SUBMITS.Contains(SUBMIT.APPROVE)) ? "requiredValue" : "";

                                                        foreach (var quote in Model.TICKET.LCA_QUOTEs)
                                                        {
                                                            <tr class="row-info">
                                                                <td>@(i)</td>
                                                                <td>
                                                                    @quote.REQUEST_ITEM
                                                                    <input class="form-input inputDefault bg-white" type="hidden" name=@("ITEM_NAME_" + i) id=@("ITEM_NAME_" + i) value="@quote.REQUEST_ITEM" readonly />
                                                                </td>
                                                                <td><input class="form-input type_number inputDefault bg-white" id=@("QTY_" + i) value="@quote.QUANTITY.ToString("#,##0")" readonly /> </td>
                                                                <td><input class="form-input type_number inputDefault bg-white @(required)" id=@("UNIT_PRICE_LCA_" + i) value="@quote.LCA_UNIT_PRICE.FormatPrice()" /> </td>
                                                                <td><input class="form-input type_number inputDefault bg-white" id=@("TOTAL_LCA_" + i) value="@quote.LCA_TOTAL_COST.FormatPrice()" readonly />  </td>
                                                                <td><input class="form-input type_number inputDefault bg-white " id=@("UNIT_PRICE_CUSTOMER_" + i) value="@quote.CUSTOMER_UNIT_PRICE.FormatPrice()" readonly /> </td>
                                                                <td><input class="form-input type_number inputDefault bg-white" id=@("TOTAL_CUSTOMER_" + i) value="@quote.CUSTOMER_TOTAL_COST.FormatPrice()" readonly /></td>
                                                            </tr>
                                                            i++;
                                                        }

                                                    }

                                                    <tr class="p-3 summary">
                                                        <td class="border-0 font-italic" colspan="4">
                                                            * If request Items are over 5, please issue more request sheet
                                                        </td>
                                                        <td class="border-0 font-weight-bold">
                                                            <div class="text-right">
                                                                <span class="">Total:</span>
                                                                <span class="totalLCA">100</span>
                                                                <span class="">$</span>
                                                            </div>

                                                        </td>
                                                        <td class="border-0"></td>
                                                        <td class="border-0 font-weight-bold text-right">
                                                            <span class="">Total:</span>
                                                            <span class="totalCustomer">100</span>
                                                            <span class="">$</span>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                            <input type="hidden" name="quotes" id="quotes" />

                                        </div>

                                        <br />

                                    </div>
                                }

                                else
                                {
                                    <div class="view-quote">
                                        <div class="row">
                                            <h5 class="text-uppercase lang font-weight-bold mb-4" key="lca_bao_gia">LCA Báo giá</h5>
                                            <label class="col lang text-right">受付日／Ngày nhận: <span name="RECEIVE_DATE">@Html.DisplayFor(m => m.TICKET.RECEIVE_DATE)</span></label>
                                            <label class="lang col text-right">Lead time: <span name="LEAD_TIME">@Html.DisplayFor(m => m.TICKET.LEAD_TIME)</span><br /><span class="font-italic">(After get approval from GD)</span></label>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="table-border-dark">
                                                <tr>
                                                    <th class="lang" key="table-no" rowspan="2" align="center">No</th>
                                                    <th class="lang" key="table-item-req" width="300px" rowspan="2">Item name</th>
                                                    <th class="lang" key="table-qty" rowspan="2">Qty</th>
                                                    <th class="lang" key="" colspan="2">LCA Material Cost (USD)</th>
                                                    <th class="lang" key="" colspan="2">Customer charge (USD)</th>
                                                </tr>
                                                <tr>

                                                    <td class="lang text-center" width="">Unit price</td>
                                                    <td class="lang text-center" width="">Total cost</td>
                                                    <td class="lang text-center" width="">Unit price</td>
                                                    <td class="lang text-center" width="">Total cost</td>

                                                </tr>

                                                <tbody id="tableInfo">
                                                    @{
                                                        var i = 1;

                                                        foreach (var quote in Model.TICKET.LCA_QUOTEs)
                                                        {

                                                            <tr class="row-info">
                                                                <td>@(i)</td>
                                                                <td>
                                                                    <input class="form-input inputDefault bg-white" type="hidden" name=@("ITEM_NAME_" + i) id=@("ITEM_NAME_" + i) value="@quote.REQUEST_ITEM" readonly />
                                                                    @quote.REQUEST_ITEM
                                                                </td>
                                                                <td><input class="form-input type_number inputDefault bg-white" id=@("QTY_" + i) value="@quote.QUANTITY.ToString("#,##0")" readonly /> </td>
                                                                <td><input class="form-input type_number inputDefault bg-white" id=@("UNIT_PRICE_LCA_" + i) value="@quote.LCA_UNIT_PRICE.FormatPrice()" readonly /> </td>
                                                                <td><input class="form-input type_number inputDefault bg-white" id=@("TOTAL_LCA_" + i) value="@quote.LCA_TOTAL_COST.FormatPrice()" readonly />  </td>
                                                                <td><input class="form-input type_number inputDefault bg-white" id=@("UNIT_PRICE_CUSTOMER_" + i) value="@quote.CUSTOMER_UNIT_PRICE.FormatPrice()" readonly /> </td>
                                                                <td><input class="form-input type_number inputDefault bg-white" id=@("TOTAL_CUSTOMER_" + i) value="@quote.CUSTOMER_TOTAL_COST.FormatPrice()" readonly /></td>
                                                            </tr>
                                                            i++;
                                                        }

                                                    }

                                                    <tr class="p-3 summary">
                                                        <td class="border-0 font-italic" colspan="4">
                                                            * If request Items are over 5, please issue more request sheet
                                                        </td>
                                                        <td class="border-0 font-weight-bold">
                                                            <div class="text-right">
                                                                <span class="">Total:</span>
                                                                <span class="totalLCA">100</span>
                                                                <span class="">$</span>
                                                            </div>

                                                        </td>
                                                        <td class="border-0"></td>
                                                        <td class="border-0 font-weight-bold text-right">
                                                            <span class="">Total:</span>
                                                            <span class="totalCustomer">100</span>
                                                            <span class="">$</span>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>

                                        </div>

                                    </div>
                                }

                            }


                            <div class="row form-inline">
                                <p class="font-weight-bold m-3">ID<span class="font-weight-normal font-italic"> (Do LCA nhập)</span></p>
                                @if (Model.PERMISSION.Contains(PERMISSION.ADD_ID))
                                {
                                    @Html.TextBoxFor(m => m.TICKET.LCA_ID, new { id = "LCA_ID", @Name = "LCA_ID", @class = "form-control " + ((Model.SUBMITS.Contains(SUBMIT.EDIT_QUOTE) && Model.SUBMITS.Contains(SUBMIT.APPROVE)) ? "requiredValue" : "") })
                                }
                                else
                                {
                                    <span class="font-weight-bold">
                                        @Html.DisplayFor(m => m.TICKET.LCA_ID)
                                        @Html.HiddenFor(m => m.TICKET.LCA_ID, new { @Name = "LCA_ID" })
                                    </span>

                                }
                            </div>
                            <div class="row ml-1">
                                <p class="font-weight-bold text-underline ">Comment</p>
                                @if (Model.PERMISSION.Contains(PERMISSION.COMMENT))
                                {
                                    @Html.TextAreaFor(m => m.TICKET.COMMENT, new { @Name = "COMMENT", @class = "form-control", rows = 4 })
                                }
                                else
                                {
                                    @Html.TextAreaFor(m => m.TICKET.COMMENT, new { @Name = "COMMENT", @class = "form-control bg-white", rows = 4, @readonly = "readonly" })

                                }
                            </div>

                            <br />
                            <div class="col">
                                <p class="font-italic font-weight-bold row text-underline">Note</p>
                                <span class="border p-2 row">
                                    1. LCA chỉ bắt đầu triển khai thực hiện sau khi giấy yêu cầu nhận được phê duyệt cuối cùng từ Tổng Giám Đốc
                                    <br />
                                    作成依頼は100% 社長が承認します。注意してお願い致します。
                                    <br />
                                    2. Trường hợp khách hàng trả Tiền thì phải được xác nhận từ bộ phận BC
                                </span>
                            </div>
                            <br />
                            <h5 class="text-uppercase lang font-weight-bold mb-4" key="">③ Biểu kiểm tra dụng cụ の書式にて完成品の確認　（Xác nhận Jig　治具確認）</h5>
                            <p>
                                Sử dụng "Biểu kiểm tra Jig,Pallet trước khi sử dụng" mã số: F06-PR.ACC.01-**
                                <br />
                                治工具運用前のチェックシートを使う：F06-PR.ACC.01-**

                            </p>
                            <br />

                            @{
                                if (Model.PERMISSION.Contains(PERMISSION.ATTACH_FILE))
                                {
                                    <div class="row mt-2">
                                        <div class="form-inline">
                                            <button type="button" class="btn btn-warning font-weight-bold lang" key="attach">**File đính kèm**</button>
                                            <input type="file" name="fileAttach" id="fileAttach" class="ml-3" multiple>
                                            <input type="hidden" name="listFiles" id="listFiles">
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <p class="btn btn-warning font-weight-bold lang" key="attach">**File đính kèm**</p>
                                }
                                <div class=" mt-2">

                                    @foreach (var file in Model.TICKET.FILES)
                                    {
                                        <a target="_blank" href="@file.FILE_URL" class="badge badge-danger">@file.FILE_NAME</a>
                                        <br />
                                    }
                                </div>
                                <div class=" mt-2 files">
                                </div>
                            }

                        </div>
                        <br />

                        @Html.Partial("~/Views/LCA/_StationApprove.cshtml", Model.STATION_APPROVE)

                    }
                </div>

                <div class="col-md-2">
                    <h5 class="mt-4 text-success text-uppercase lang" key="comment">THẢO LUẬN</h5>
                    <hr>
                    <div class="row">
                        <script type="text/javascript">
                            var base_url = window.location.origin;
                        </script>
                        <div class="d-inline ml-2">
                            <img class="avatar" id="avatar" src="~/Content/images/icons8-user-100.png" />
                        </div>
                        <div class="d-inline ml-2">
                            <div class="chat-with" id="user">@_session.NAME</div>
                            <div class="chat-num-messages">@_session.EMAIL</div>
                        </div>
                    </div>
                    <div class="row">
                        <textarea id="txbComment" class="form-control ml-2 mt-2"></textarea>
                        <p id="txbViewComment"></p>
                    </div>
                    <button class="btn btn-success lang" key="send" id="btnAddComment">Gửi</button>
                    <p class="mt-4 text-muted">
                        <span id="totalComment">0</span> <span class="lang text-uppercase" key="comment">Thảo luận</span>
                    </p>
                    <hr>
                    <ul class="list-group list-group-flush list-comment"></ul>

                </div>

            </div>
        </div>
    </div>
</div>
@Html.Hidden("RedirectTo", Url.Action("Index", "Home", new { type = @SendType.SENDTOME }));
@Html.Hidden("LoadTicket", Url.Action("Details", "LCA", new { ticket = Model.TICKET.TICKET }));
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Content/js/mention.js")
@Scripts.Render("~/Content/js/moment.js")
@Scripts.Render("~/Content/js/jquery.simplePagination.js")
@Scripts.Render("~/Content/js/bootstrap-typeahead.js")
@Scripts.Render("~/Content/js/form_common.js")
@Scripts.Render("~/Content/js/lca/form_lca.js")
@Scripts.Render("~/Content/js/comment.js")
