@model UMC_FORM.Models.LCA.LCADetailModel
@using UMC_FORM.Models
@using UMC_FORM.Business
@{
    Layout = "~/Views/Shared/_Layout_Custom1.cshtml";
    var _session = Session["user"] as Form_User;
    var keyState = Model.SUMARY.IS_REJECT ? "cancel-request" : Model.SUMARY.IS_FINISH ? "finish-request" : "waitting";
}


<div id="layoutSidenav_content">
    <div class="container-fluid ">
        <div class="">
            <div class=" row">

                <div class="col-md-10 border-right">
                    @using (Html.BeginForm("Details", "LCA", FormMethod.Post, new { enctype = "multipart/form-data", id = "submitForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <br>
                        <a href="@Url.Action("Index","Home")" style="text-decoration: none;">
                            <i class="fas fa-angle-left font-title text-muted"></i>
                            <span class="font-weight-bold ml-2 text-muted lang text-uppercase" key="title-lca-req" style="font-size: 18px;">YÊU CẦU CUNG CẤP</span>
                        </a>
                        <div class="row">
                            <div class="col-11 form-inline">
                                <span class="font-italic text-muted lang" key="state">Trạng thái:</span>
                                <span class="badge badge-pill badge-primary ml-2 lang font-italic" key="@keyState">...</span>
                            </div>
                            <div class="col-1">
                                <a href="@Url.Action("PrintView","LCA")" class="text-dark" target="_blank">
                                    <i class="fas fa-print"></i>
                                </a>

                            </div>
                        </div>

                        <hr>
                        
                        @Html.HiddenFor(m => m.TICKET.TICKET, new { @Name = "ticket" })
                        @Html.ValidationMessage("Error")
                        if (Model.IS_APPROVER)
                        {
                            <input id="status" name="status" type="hidden"/>
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-success col lang" key="accept" id="accept">Chấp thuận</button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-danger col lang" key="reject" id="reject">Từ chối</button>
                                </div>
                            </div>
                            <script>
                                $(function () {
                                    $('#accept').click(function () {
                                        $('#status').val("accept")
                                    });
                                    $('#reject').click(function () {
                                        $('#status').val("reject")
                                    });

                                })
                            </script>
                        }

                        <div class="row mt-4">
                            <div class="col">
                                <p class=" font-weight-bold text-uppercase lang" key="req-info">
                                    THÔNG TIN ĐỀ XUẤT
                                </p>
                            </div>
                            <div class="col text-right">
                                <span class="text-right text-uppercase lang" key="code">MÃ ĐỀ XUẤT:</span>
                                <span class="text-primary font-weight-bold text-right" id="ticketNo">@Html.DisplayFor(m => m.TICKET.TICKET)</span>
                            </div>
                        </div>
                        <hr class="mt-1">
                        <div class="">

                            <p class="text-uppercase lang mb-4 font-weight-bold" key="req-dept" style="font-size:15px;">THÔNG TIN SẢN PHẨM</p>

                            <div class="row">
                                <table class="table table-bordered border m-1">
                                    <tr class="">
                                        <td class="lang p-2 font-weight-bold" key="request_dept"></td>
                                        <td class="text-center p-2" colspan="2">@Html.DisplayFor(m => m.TICKET.DEPT)</td>
                                        <td class="lang p-2 font-weight-bold text-center" key="request-date"></td>
                                        <td class="text-center p-2 ">@Html.DisplayFor(m => m.TICKET.REQUEST_DATE)</td>
                                        <td class="lang p-2 font-weight-bold text-center" key="target-date"></td>
                                        <td class="text-center p-2 " colspan="2">@Html.DisplayFor(m => m.TICKET.TARGET_DATE)</td>
                                    </tr>
                                    <tr class="font-weight-bold">
                                        <td class="p-2"><label class="font-weight-bold lang text-left" key="target-supply">Loại Supply *</label></td>
                                        <td class="text-center p-2">活人</td>
                                        <td class="text-center p-2" colspan="2">必要物(ない場合、生産不可能）</td>
                                        <td class="text-center p-2" colspan="2">品質&５S改善</td>
                                        <td class="text-center p-2" colspan="2">NGチェンジ</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2" rowspan="2" style="vertical-align: middle;"><label class="font-weight-bold lang text-left center" key="type-jip-supply">Phân loại Jip</label></td>
                                        <td class="text-center p-2 lang" key="increase_productivity">Tăng năng xuất</td>
                                        <td class="text-center p-2 lang" key="new_model">Model mới</td>
                                        <td class="text-center p-2 lang" key="incre_prod">Do tăng sản lượng</td>
                                        <td class="text-center p-2 lang" key="quantity">Cải tiếng chất lượng</td>
                                        <td class="text-center p-2 lang" key="5s">5S改善</td>
                                        <td class="text-center p-2 lang" key="ngjig" colspan="2">5S改善</td>

                                    </tr>
                                    <tr>

                                        <td class="text-center p-2"><input type="checkbox" id="select_target_1" value="increase_productivity" disabled="disabled" /></td>
                                        <td class="text-center p-2"><input type="checkbox" id="select_target_2" value="new_model" disabled /></td>
                                        <td class="text-center p-2"><input type="checkbox" id="select_target_3" value="incre_prod" disabled /></td>
                                        <td class="text-center p-2"><input type="checkbox" id="select_target_4" value="quantity" disabled /></td>
                                        <td class="text-center p-2"><input type="checkbox" id="select_target_5" value="5s" disabled /></td>
                                        <td class="text-center p-2" colspan="2"><input type="checkbox" id="select_target_6" value="ngjig" disabled /> </td>
                                        @Html.HiddenFor(m => m.TICKET.REQUEST_TARGET)
                                        <script>
                                            $(function () {

                                                var target = $('#TICKET_REQUEST_TARGET').val()
                                                var arrTarget = target.split(',')
                                                for (var i = 1; i <= 5; i++) {
                                                    var select = $('#select_target_' + i).val();
                                                    if (arrTarget.includes(select)) {
                                                        $('#select_target_' + i).prop('checked', true)
                                                    }
                                                }
                                            })

                                        </script>
                                    </tr>
                                    <tr class="font-weight-bold">
                                        <td class="p-2" rowspan="5" style="vertical-align: middle;"><label class="font-weight-bold lang text-left center" key="uoc_luong_hieu_qua">Phân loại Jip</label></td>
                                        <td class="text-center p-2 lang" colspan="2" key="reduce_staff">Tăng năng xuất</td>
                                        <td class="text-center p-2 lang" colspan="3" key="hieu_qua_cai_tien_chat_luong">Tăng năng xuất</td>
                                        <td class="text-center p-2 lang" key="tiet_kiem_chi_phi" colspan="2">Tăng năng xuất</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3" style="vertical-align: middle;" class="text-center">@Html.DisplayFor(m => m.TICKET.DECREASE_PERSON)</td>
                                        <td style="vertical-align: middle;" class="text-center font-weight-bold" rowspan="3">人/月</td>
                                        <td class="p-2" style="vertical-align: middle;"><label class="font-weight-bold lang text-left center" key="noi_dung_loi">Phân loại Jip</label></td>
                                        <td colspan="2" style="vertical-align: middle;">@Html.DisplayFor(m => m.TICKET.CONTENT_ERROR)</td>
                                        <td rowspan="3" style="vertical-align: middle;" class="text-center">@Html.DisplayFor(m => m.TICKET.COST_SAVING)</td>
                                        <td rowspan="3" style="vertical-align: middle;" class="text-center font-weight-bold">USD/月</td>

                                    </tr>
                                    <tr>
                                        <td class="p-2" style="vertical-align: middle;"><label class="font-weight-bold lang text-left center" key="ty_le_loi">Phân loại Jip</label></td>
                                        <td colspan="2">@Html.DisplayFor(m => m.TICKET.ERROR_RATE_CURRENT)</td>

                                    </tr>
                                    <tr>
                                        <td class="p-2" style="vertical-align: middle;"><label class="font-weight-bold lang text-left center" key="hieu_qua_cai_tien">Phân loại Jip</label></td>
                                        <td colspan="2">@Html.DisplayFor(m => m.TICKET.IMPROVED_EFICIENCY)</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Other:</td>
                                        <td colspan="6">@Html.DisplayFor(m => m.TICKET.OTHER)</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">
                                            <label class="font-weight-bold lang" key="chi_tra">Name</label>
                                        </td>

                                        <td colspan="7" class="p-2">
                                            <label for="customer" class="lang mr-2" key="khach_hang"></label>
                                            <input id="customer" type="checkbox" value="Customer" disabled>
                                            <label for="umcvn" class="lang mr-2 ml-5" key="">UMCVN</label>
                                            <input id="umcvn" type="checkbox" value="UMCVN" disabled>
                                            @Html.HiddenFor(m => m.TICKET.PAYER)
                                        </td>
                                        <script>
                                            $(function () {
                                                var payer = $('#TICKET_PAYER').val()
                                                if (payer == "UMCVN") {
                                                    $('#umcvn').prop('checked', true)
                                                } else if (payer == "Customer") {
                                                    $('#customer').prop('checked', true)
                                                }
                                            })

                                        </script>
                                    </tr>

                                </table>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="lang font-italic" key="doi_tuong_ap_dung"></div>

                                </div>
                                <div class="col ">
                                    <span class="font-weight-bold">PCB: </span>
                                    @Html.DisplayFor(m => m.TICKET.PCB)
                                </div>
                            </div>
                            <br />
                            <div class="row">

                                <div class="col ">
                                    <span class="lang font-weight-bold" key="khach_hang"></span>:
                                    @Html.DisplayFor(m => m.TICKET.CUSTOMER)
                                </div>
                                <div class="col ">
                                    <span class="font-weight-bold">Model</span>:
                                    @Html.DisplayFor(m => m.TICKET.MODEL)
                                </div>
                            </div>
                            <br />
                            <div class="row ml-1">
                                <p>
                                    内容■　Nội dung yêu cầu: (Phải thêm comment tiếng Anh/ tiếng Nhật)
                                    <br />
                                    <span class="font-weight-bold">(MUST : Please add comment by English or Japanese)</span>
                                    <br />

                                <p>

                            </div>
                            <div class="row ml-1">
                                <p style="white-space: pre-wrap"> @Html.DisplayFor(m => m.TICKET.REQUEST_CONTENT)</p>
                            </div>
                            <hr>
                            <h5 class="text-uppercase lang font-weight-bold mb-4" key="lca_bao_gia">THÔNG TIN SẢN PHẨM</h5>
                            <div class="row">
                                <div class="col-3">
                                    <label class="font-weight-bold lang" key="received-date">Target date</label>
                                </div>
                                <div class="col-9">
                                    <input class="form-control" type="date" value=@DateTime.Now.ToString("yyyy-MM-dd")>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-3">
                                    <label class="font-weight-bold lang" key="">Lead time:</label>
                                    <p class="font-italic">(After get approval from GD)</p>
                                </div>
                                <div class="col-9">
                                    <input class="form-control" type="date" value=@DateTime.Now.ToString("yyyy-MM-dd")>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered mt-3">
                                    <tr>
                                        <th class="lang" key="table-no" rowspan="2" align="center">No</th>
                                        <th class="lang" key="table-item-req" width="300px" rowspan="2">Item name</th>
                                        <th class="lang" key="table-qty" rowspan="2">Qty</th>
                                        <th class="lang" key="" colspan="2">LCA Material Cost (USD)</th>
                                        <th class="lang" key="" colspan="2">Customer charge (USD)</th>
                                    </tr>
                                    <tr>

                                        <td class="lang text-center" width="">Unit price</td>
                                        <td class="lang text-center" width="">Total cost</td>
                                        <td class="lang text-center" width="">Unit price</td>
                                        <td class="lang text-center" width="">Total cost</td>

                                    </tr>

                                    <tbody id="tableInfo">
                                        @{
                                            for (int i = 1; i <= 5; i++)
                                            {
                                                <tr class="row-info">
                                                    <td>@(i)</td>
                                                    <td>  <input class="form-input inputDefault" name=@("ITEM_NAME_" + i) /></td>


                                                    <td> <input class="form-input type_number text-center inputDefault" name=@("QTY_" + i) id=@("QTY_" + i) /></td>
                                                    <td> <input class="form-input inputDefault" name=@("UNIT_" + i) /></td>
                                                    <td> <input class="form-input inputDefault" name=@("UNIT_" + i) /></td>
                                                    <td> <input class="form-input inputDefault" name=@("UNIT_" + i) /></td>
                                                    <td> <input class="form-input inputDefault" name=@("UNIT_" + i) /></td>
                                                </tr>
                                            }
                                        }

                                        <tr class="p-3">
                                            <td class="border-0 font-italic" colspan="4">
                                                * If request Items are over 5, please issue more request sheet
                                            </td>
                                            <td class="border-0">
                                                <span class="font-weight-bold">Total:</span>
                                                <input class="border-bottom" style="border:none;" />
                                                <span class="font-weight-bold">$</span>
                                            </td>
                                            <td class="border-0"></td>
                                            <td class="border-0 ">
                                                <span class="font-weight-bold">Total:</span>
                                                <input class="border-bottom" style="border:none;" />
                                                <span class="font-weight-bold">$</span>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                                <div></div>
                            </div>
                            <div class="row ml-1">
                                <p class="font-italic text-underline">Comment</p>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <br />

                            <br />
                            <div class="col">
                                <p class="font-italic font-weight-bold row text-underline">Note</p>
                                <span class="border p-2 row">
                                    1. LCA chỉ bắt đầu triển khai thực hiện sau khi giấy yêu cầu nhận được phê duyệt cuối cùng từ Tổng Giám Đốc
                                    <br />
                                    作成依頼は100% 社長が承認します。注意してお願い致します。
                                    <br />
                                    2. Trường hợp khách hàng trả Tiền thì phải được xác nhận từ bộ phận BC
                                </span>
                            </div>
                            <br />
                            <h5 class="text-uppercase lang font-weight-bold mb-4" key="">③ Biểu kiểm tra dụng cụ の書式にて完成品の確認　（Xác nhận Jig　治具確認）</h5>
                            <p>
                                Sử dụng "Biểu kiểm tra Jig,Pallet trước khi sử dụng" mã số: F06-PR.ACC.01-**
                                <br />
                                治工具運用前のチェックシートを使う：F06-PR.ACC.01-**

                            </p>
                            <br />
                            <div class="row mt-2">
                                <div class="form-inline">
                                    @*<p class="font-weight-bold lang" key="attach">File đính kèm</p>*@
                                    <button type="button" class="btn btn-warning font-weight-bold lang" key="attach">**File đính kèm**</button>
                                    <input type="file" name="fileAttach" class="ml-3" multiple>
                                </div>
                            </div>
                        </div>
                        <br />


                        <div class="table-responsive">
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th class="font-italic lang" key="nguoi_yeu_cau" rowspan="2">Người đề xuất </th>
                                        <th class="font-italic lang" key="phe_duyet" rowspan="2">Trưởng phòng</th>
                                        <th class="font-italic lang" key="lca_approve" rowspan="2">LCA Approve</th>
                                        <th class="font-italic lang" key="request_approve" rowspan="2">Request Approve</th>
                                        <th class="font-italic lang" key="BC_approve" rowspan="2">BC Approve</th>
                                        <th class="font-italic lang" key="FM_approve" rowspan="2">FM Approve</th>
                                        <th class="font-italic lang" key="GD_approve" rowspan="2">GD Approve</th>


                                    </tr>

                                </thead>
                                <tbody>
                                    <tr height="100px">
                                        <td>
                                            <div class="rubber_stamp">
                                                <p>UMCVN</p>
                                                <p>06-09-2021</p>
                                                <p>TEST</p>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    }
                </div>

                <div class="col-md-2">
                    <h5 class="mt-4 text-success text-uppercase lang" key="comment">THẢO LUẬN</h5>
                    <hr>
                    <div class="row">
                        <script type="text/javascript">
                            var base_url = window.location.origin;
                        </script>
                        <div class="d-inline ml-2">
                            <img class="avatar" id="avatar" src="~/Content/images/icons8-user-100.png" />
                        </div>
                        <div class="d-inline ml-2">
                            <div class="chat-with" id="user">@_session.NAME</div>
                            <div class="chat-num-messages">@_session.EMAIL</div>
                        </div>
                    </div>
                    <div class="row">
                        <textarea id="txbComment" class="form-control ml-2 mt-2"></textarea>
                        <p id="txbViewComment"></p>
                    </div>
                    <button class="btn btn-success lang" key="send" id="btnAddComment">Gửi</button>
                    <p class="mt-4 text-muted">
                        <span id="totalComment">0</span> <span class="lang text-uppercase" key="comment">Thảo luận</span>
                    </p>
                    <hr>
                    <ul class="list-group list-group-flush list-comment"></ul>

                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script src="~/Content/js/mention.js"></script>
<script src="~/Content/js/moment.js"></script>
<script src="~/Content/js/jquery.simplePagination.js"></script>
<script type="text/javascript" src="~/Content/js/bootstrap-typeahead.js"></script>
<script type="text/javascript" src="~/Content/js/mention.js"></script>
<script src="~/Content/js/form_common.js"></script>
<script src="~/Content/js/lca/form_lca.js"></script>
<script src="~/Content/js/comment.js"></script>
<script src="~/Content/js/lang.js"></script>
