@model UMC_FORM.Models.Form_User
@using UMC_FORM.Models
@using UMC_FORM.Ultils

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_Custom2.cshtml";
}

<h2>Edit</h2>

<div id="layoutSidenav_content">
    <div class="container-fluid ">
        <div class="">
            <div class="">
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="err">@ViewBag.message</label>
                        </div>

                        <div class="form-group">
                            <label for="code">Code</label>
                            <input class="form-control" id="CODE" name="CODE" value="@Model.CODE">
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input class="form-control" id="NAME" name="NAME" value="@Model.NAME">
                        </div>
                        <div class="form-group">
                            <label for="name">Short Name</label>
                            <input class="form-control" id="SHORT_NAME" name="SHORT_NAME" value="@Model.SHORT_NAME">
                        </div>
                        <div class="form-group">
                            <label for="name">Dept</label>
                            <select class="form-control" aria-label="Default select example" name="DEPT">
                                @foreach (var item in ViewBag.depts)
                                {
                                    if (item == Model.DEPT)
                                    {
                                        <option value="@item" selected>@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group mt-2">
                            <label for="name">Sign</label>
                            <input name="SIGNATURE" class="form-control" id="sign" value="@Model.SIGNATURE">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="EMAIL" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="@Model.EMAIL">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="PASSWORD" class="form-control" id="exampleInputPassword1" value="@Model.PASSWORD">
                        </div>
                        <div class="btn-group">
                            <button type="button" class="form-control dropdown-toggle" data-toggle="dropdown">
                                Chọn chức vụ
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                @if (ViewBag.positions != null)
                                {
                                    foreach (var position in ViewBag.positions)
                                    {
                                        <li class="checkbox-in-ddl">
                                            <label>
                                                @if (Model.POSTION_LIST.Where(m => m.POSITION_CODE == position.POSITION_CODE).FirstOrDefault() != null)
                                                {
                                                    <input type="checkbox" value="@position.POSITION_CODE" checked />
                                                }
                                                else
                                                { <input type="checkbox" value="@position.POSITION_CODE" />}

                                                <span>@position.NAME.ToLower()</span>
                                            </label>
                                        </li>
                                    }
                                }

                            </ul>
                        </div>
                        <input type="hidden" name="POSITIONs" id="POSITIONs" />
                        <br />
                        <div class="form-group">
                            <label for="name">Role</label>
                            <select class="form-control" aria-label="Default select example" name="ROLE_ID">
                                @foreach (Form_Role item in ViewBag.roles)
                                {
                                    if (item.ID == Model.ROLE_ID)
                                    {
                                        <option value="@item.ID" selected>@item.NAME</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID">@item.NAME</option>
                                    }
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    }
                </div>
            </div>

        </div>
    </div>
</div>


@Scripts.Render(Url.ContentVersioned("~/Content/js/users", "js"))