@using UMC_FORM.Ultils
@model IEnumerable<UMC_FORM.Models.Form_User>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout_Custom2.cshtml";
    int _no = 1;
}

<div id="layoutSidenav_content">
    <div class="container-fluid ">
        <div class="">
            <div class="">
                <div class="card-body">
                    <a href="./index.html" style="text-decoration: none;">
                        <span class="font-title text-muted lang">Danh sách tài khoản</span>
                    </a>
                    <br /><br />
                    <a href="@Url.Action("Create","Users")" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Tạo tài khoản mới</a>
                    <ul class="nav mt-4" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="all-tab" data-toggle="tab" aria-controls="inbox"
                               href="#inbox" role="tab" aria-selected="true">
                                <span class="d-block d-md-none"><i class="ti-email"></i></span>
                                <span class="d-none d-md-block lang">Tất cả</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="comming-tab" data-toggle="tab" aria-controls="sent"
                               href="#sent" role="tab" aria-selected="false">
                                <span class="d-block d-md-none"><i class="ti-export"></i></span>
                                <span class="d-none d-md-block lang">Users</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="dealine-tab" data-toggle="tab" aria-controls="spam"
                               href="#spam" role="tab" aria-selected="false">
                                <span class="d-block d-md-none"><i class="ti-panel"></i></span>
                                <span class="d-none d-md-block lang">Flow</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show " id="inbox" aria-labelledby="inbox-tab"
                         role="tabpanel">
                        <!-- Request list-->
                        <div class="table-responsive">
                            <table class="table email-table no-wrap table-hover v-middle mb-0 font-14">
                                <tbody class="table-request">
                                    @foreach (var item in Model)
                                    {
                                        var id = "cst" + _no;
                                        <tr class="row-request">
                                            <td class="pl-3">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id=@id />
                                                    <label class="custom-control-label" for=@id>&nbsp;</label>
                                                </div>
                                            </td>

                                            <td><i class="fa fa-star text-info"></i></td>
                                            <td>
                                                <a class="link request-item" href="@Url.Action("Details","Users", new {code = item.CODE })" data-slide="next" name="1">
                                                    <span class="mb-0 text-muted">@Html.DisplayFor(m => item.CODE)</span>
                                                </a>
                                            </td>
                                            <td>
                                                <i class="fas fa-user text-muted"></i>
                                                <span class="mb-0 text-muted">@Html.DisplayFor(m => item.NAME)</span>
                                            </td>
                                            <td>
                                                <a class="link request-item" href="@Url.Action("Details","Users", new {code = item.CODE })" data-slide="next" name="1">
                                                    @if (item.ROLE_ID == 1)
                                                    {
                                                        <span class="badge badge-pill text-white font-medium badge-success mr-2">Admin</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-pill text-white font-medium badge-warning mr-2">Normal</span>
                                                    }
                                                    <span class="text-dark">@Html.DisplayFor(m => item.EMAIL)</span>
                                                </a>
                                            </td>
                                            <td><i class="fas fa-file-signature text-info"></i></td>
                                            <td class="text-muted">
                                                @Html.DisplayFor(m => item.SIGNATURE)
                                            </td>
                                            <td><i class="fas fa-user-friends"></i></td>
                                            <td class="text-muted">
                                                @Html.DisplayFor(m => item.DEPT)
                                            </td>
                                            @using (Html.BeginForm("UserDelete", "Users", new { code = item.CODE }, FormMethod.Post, null))
                                            {
                                                @Html.AntiForgeryToken()
                                                var target = "#myModal" + _no;
                                                var targetId = "myModal" + _no;
                                                <td class="text-muted">
                                                    <a href="@Url.Action("Edit","Users", new {code = item.CODE })"><i style="color:gray" class='fas fa-edit'></i></a>
                                                    <a data-target="@target" data-toggle="modal" class="MainNavText" id="MainNavHelp"
                                                       href="#myModal"><i style="color:red" class='fas fa-trash-alt'></i></a>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="@targetId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">

                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLongTitle">Message Confirm</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">Are you sure delete [@item.CODE]</div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                                    @* <a class="btn btn-primary" href="@Url.Action("Delete", new {CODE = item.CODE })" role="button">Yes</a>*@
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                        _no++;
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="form-inline">
                            <div id="pagination-container"></div>
                            <i class="fas fa-redo-alt"></i>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="sent" aria-labelledby="sent-tab" role="tabpanel">
                        <div class="row p-3 text-dark">
                            <div class="col-md-6">
                                <h3 class="font-light">Lets check profile</h3>
                                <h4 class="font-light">you can use it with the small code</h4>
                            </div>
                            <div class="col-md-6 text-right">
                                <p>
                                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                                    arcu.
                                    In enim justo, rhoncus ut, imperdiet a.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="spam" aria-labelledby="spam-tab" role="tabpanel">
                        <div class="row p-3 text-dark">
                            <div class="col-md-6">
                                <h3 class="font-light">Come on you have a lot message</h3>
                                <h4 class="font-light">you can use it with the small code</h4>
                            </div>
                            <div class="col-md-6 text-right">
                                <p>
                                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                                    arcu.
                                    In enim justo, rhoncus ut, imperdiet a.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="delete" aria-labelledby="delete-tab" role="tabpanel">
                        <div class="row p-3 text-dark">
                            <div class="col-md-6">
                                <h3 class="font-light">Just do Settings</h3>
                                <h4 class="font-light">you can use it with the small code</h4>
                            </div>
                            <div class="col-md-6 text-right">
                                <p>
                                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                                    arcu.
                                    In enim justo, rhoncus ut, imperdiet a.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
@Scripts.Render(Url.ContentVersioned("~/Content/js/mention", "js"))
@Scripts.Render(Url.ContentVersioned("~/Content/js/moment", "js"))
@Scripts.Render("~/Scripts/jquery.simplePagination.js")
@Scripts.Render(Url.ContentVersioned("~/Content/js/pagination", "js"))
@Scripts.Render(Url.ContentVersioned("~/Content/js/scripts", "js"))




